@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document ========================================================================== */
/** * 1. Correct the line height in all browsers. * 2. Prevent adjustments of font size after orientation changes in iOS. */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections ========================================================================== */
/** * Remove the margin in all browsers. */
body {
  margin: 0; }

/** * Render the `main` element consistently in IE. */
main {
  display: block; }

/** * Correct the font size and margin on `h1` elements within `section` and * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content ========================================================================== */
/** * 1. Add the correct box sizing in Firefox. * 2. Show the overflow in Edge and IE. */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics ========================================================================== */
/** * Remove the gray background on active links in IE 10. */
a {
  background-color: transparent; }

/** * 1. Remove the bottom border in Chrome 57- * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/** * Add the correct font weight in Chrome, Edge, and Safari. */
b, strong {
  font-weight: bolder; }

/** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
code, kbd, samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/** * Add the correct font size in all browsers. */
small {
  font-size: 80%; }

/** * Prevent `sub` and `sup` elements from affecting the line height in * all browsers. */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content ========================================================================== */
/** * Remove the border on images inside links in IE 10. */
img {
  border-style: none; }

/* Forms ========================================================================== */
/** * 1. Change the font styles in all browsers. * 2. Remove the margin in Firefox and Safari. */
button, input, optgroup, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/** * Show the overflow in IE. * 1. Show the overflow in Edge. */
button, input {
  /* 1 */
  overflow: visible; }

/** * Remove the inheritance of text transform in Edge, Firefox, and IE. * 1. Remove the inheritance of text transform in Firefox. */
button, select {
  /* 1 */
  text-transform: none; }

/** * Correct the inability to style clickable types in iOS and Safari. */
button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

/** * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/** * Restore the focus styles unset by the previous rule. */
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/** * Correct the padding in Firefox. */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/** * 1. Correct the text wrapping in Edge and IE. * 2. Correct the color inheritance from `fieldset` elements in IE. * 3. Remove the padding so developers are not caught out when they zero out * `fieldset` elements in all browsers. */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/** * Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline; }

/** * Remove the default vertical scrollbar in IE 10+. */
textarea {
  overflow: auto; }

/** * 1. Add the correct box sizing in IE 10. * 2. Remove the padding in IE 10. */
[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/** * Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

/** * 1. Correct the odd appearance in Chrome and Safari. * 2. Correct the outline style in Safari. */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/** * Remove the inner padding in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/** * 1. Correct the inability to style clickable types in iOS and Safari. * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive ========================================================================== */
/* * Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block; }

/* * Add the correct display in all browsers. */
summary {
  display: list-item; }

/* Misc ========================================================================== */
/** * Add the correct display in IE 10+. */
template {
  display: none; }

/** * Add the correct display in IE 10. */
[hidden] {
  display: none; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url("fonts/MuseoSansCyrl-700.woff2") format("woff2"), url("fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'MuseoSans';
  src: url("fonts/MuseoSansCyrl-500.woff2") format("woff2"), url("fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'MuseoSans';
  src: url("fonts/MuseoSansCyrl-300.woff2") format("woff2"), url("fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'MuseoSans';
  src: url("fonts/MuseoSansCyrl-900.woff2") format("woff2"), url("fonts/MuseoSansCyrl-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Neumann';
  src: url("fonts/Neumann.woff2") format("woff2"), url("fonts/Neumann.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

:root {
  --sm: 728px;
  --md: 984px;
  --lg: 1170px; }

.header {
  padding: 20px 15px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (min-width: 768px) {
  .header {
    padding-top: 25px;
    padding-left: calc((100% - var(--sm)) / 2);
    padding-right: calc((100% - var(--sm)) / 2); } }

@media (min-width: 1024px) {
  .header {
    padding-left: calc((100% - var(--md)) / 2);
    padding-right: calc((100% - var(--md)) / 2); } }

@media (min-width: 1200px) {
  .header {
    padding-left: calc((100% - var(--lg)) / 2);
    padding-right: calc((100% - var(--lg)) / 2); } }

.footer {
  padding: 20px 15px;
  background-color: #00004A; }

@media (min-width: 768px) {
  .footer {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: calc((100% - var(--sm)) / 2);
    padding-right: calc((100% - var(--sm)) / 2); } }

@media (min-width: 1024px) {
  .footer {
    padding-left: calc((100% - var(--md)) / 2);
    padding-right: calc((100% - var(--md)) / 2); } }

@media (min-width: 1200px) {
  .footer {
    padding-left: calc((100% - var(--lg)) / 2);
    padding-right: calc((100% - var(--lg)) / 2); } }

.head__main {
  font-family: Neumann;
  font-size: 26px;
  line-height: 38px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none; }

.head__social {
  margin-top: 15px; }

.head__contacts {
  margin-top: 20px; }

@media (min-width: 768px) {
  .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .head__main {
      font-size: 24px;
      line-height: 32px; }
    .head__contacts {
      text-align: end; }
    .head__social {
      margin-top: 0; }
    .head__contacts {
      margin-top: 0; } }

@media (min-width: 1024px) {
  .head__main {
    font-size: 28px;
    line-height: 41px; } }

.head-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .head-social__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .head-social__link:hover .head-social__icon {
      -webkit-transform: scale(1.3);
          -ms-transform: scale(1.3);
              transform: scale(1.3); }
    .head-social__link + .head-social__link {
      margin-left: 5px; }
  .head-social__icon {
    width: 15px;
    height: 15px;
    text-align: center;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .head-social__icon img {
      width: auto;
      height: 100%; }

@media (min-width: 1024px) {
  .head-social__link {
    width: 40px;
    height: 40px; }
    .head-social__link + .head-social__link {
      margin-left: 10px; }
  .head-social__icon {
    width: 20px;
    height: 20px; } }

.head-contacts__quest {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  color: #fff; }
  .head-contacts__quest--marked {
    font-weight: 600;
    color: #E9C878; }

.head-contacts__phone {
  display: block;
  margin-top: 3px;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }
  .head-contacts__phone:hover {
    color: #E9C878; }

.head-contacts__work-time {
  position: relative;
  margin: 3px 0 0;
  font-size: 14px;
  line-height: 17px;
  color: #fff; }
  .head-contacts__work-time::before {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 5px;
    height: 5px;
    background-color: #14BE5C;
    border-radius: 50%;
    vertical-align: middle; }

@media (min-width: 768px) {
  .head-contacts__quest {
    font-size: 14px;
    line-height: 17px; }
  .head-contacts__phone {
    margin-top: 5px;
    font-size: 22px;
    line-height: 26px; }
  .head-contacts__work-time {
    margin-top: 5px;
    font-size: 14px;
    line-height: 17px; }
    .head-contacts__work-time::before {
      margin-right: 10px; } }

@media (min-width: 1024px) {
  .head-contacts__quest {
    font-size: 16px;
    line-height: 19px; }
  .head-contacts__phone {
    font-size: 26px;
    line-height: 31px; }
  .head-contacts__work-time {
    font-size: 16px;
    line-height: 19px; } }

.main {
  background-image: url(../images/main-bg.jpg);
  background-position: center center;
  background-size: cover;
  padding-bottom: 80px; }
  .main__info {
    margin-top: 40px;
    padding: 0 15px; }
  .main__add {
    margin-top: 25px;
    padding: 0 15px; }
  .main__watch {
    margin-top: 80px;
    margin-left: auto; }

@media (min-width: 768px) {
  .main {
    background-image: url(../images//main-bg.jpg);
    padding: 0 calc((100% - var(--sm)) / 2) 80px; }
    .main__info {
      padding: 0; }
    .main__add {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-top: 50px;
      padding: 0; }
    .main__watch {
      margin-top: 0;
      margin-left: 0; } }

@media (min-width: 1024px) {
  .main {
    padding: 0 calc((100% - var(--md)) / 2) 180px; }
    .main__info {
      margin-top: 80px; } }

@media (min-width: 1200px) {
  .main {
    padding: 0 calc((100% - var(--lg)) / 2) 220px; }
    .main__info {
      margin-top: 100px; } }

.main-title {
  margin: 0;
  font-family: Neumann;
  font-size: 25px;
  line-height: 37px;
  font-weight: normal;
  color: #fff; }
  .main-title__gradient {
    display: block;
    margin-bottom: 10px;
    font-size: 45px;
    line-height: 66px;
    text-transform: uppercase;
    background: -o-linear-gradient(359.45deg, #FFFFFF 0.22%, #E9C878 99.81%);
    background: linear-gradient(90.55deg, #FFFFFF 0.22%, #E9C878 99.81%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent; }
  .main-title__price {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 15px;
    padding: 13px 15px;
    padding-right: 30px;
    font-family: MuseoSans;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background-image: url(../images/price-bg.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat; }

@media (min-width: 1024px) {
  .main-title__price {
    display: inline-block;
    margin-top: 0;
    margin-left: 10px;
    vertical-align: super; } }

@media (min-width: 1200px) {
  .main-title {
    font-size: 45px;
    line-height: 66px; }
    .main-title__gradient {
      font-size: 68px;
      line-height: 100px; } }

.watch {
  position: relative;
  width: 180px;
  padding: 30px;
  padding-right: 38px;
  background: rgba(55, 102, 204, 0.5);
  border-radius: 10px 10px 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .watch__text {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.8); }
  .watch__link {
    display: block;
    margin-top: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #E9C878;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .watch__link:hover {
      text-decoration: none; }
  .watch__icon {
    position: absolute;
    top: -35px;
    left: -35px;
    width: 70px;
    height: 70px;
    -webkit-filter: drop-shadow(20px 10px 50px #e9c878);
            filter: drop-shadow(20px 10px 50px #e9c878); }
    .watch__icon img {
      width: 100%;
      height: 100%; }

@media (min-width: 768px) {
  .watch {
    width: 250px;
    padding: 40px;
    padding-right: 70px; }
    .watch__icon {
      width: 100px;
      height: 100px;
      top: -50px;
      left: -50px; }
    .watch__text {
      font-size: 20px;
      line-height: 28px; }
    .watch__link {
      margin-top: 20px;
      font-size: 18px;
      line-height: 26px; } }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 30px;
  border-radius: 220px;
  background: -o-radial-gradient(50% 50%, 31.58% 218.14%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), -o-linear-gradient(357.3deg, #E9C878 0%, #C1A050 100%);
  background: radial-gradient(31.58% 218.14% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(92.7deg, #E9C878 0%, #C1A050 100%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #6E5A45;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
  text-decoration: none; }
  .btn__icon {
    width: 25px;
    height: 25px;
    margin-right: 15px; }

@media (min-width: 768px) {
  .btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .btn--main-add {
      margin-top: 25px; }
    .btn--form {
      width: 100%; } }

.personal {
  padding: 50px 15px;
  background-color: #fff; }
  .personal__bg {
    display: none; }
    .personal__bg img {
      width: 100%; }
  .personal__subtitle {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #28292E; }
  .personal__text {
    margin: 0 0 20px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(40, 41, 46, 0.8); }
    .personal__text br {
      display: none; }
  .personal__form {
    position: relative;
    z-index: 5; }

@media (min-width: 1024px) {
  .personal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    width: calc(100% - 100px);
    margin-top: -140px;
    padding: 55px;
    border-radius: 0px 15px 15px 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .personal-con {
      position: relative; }
    .personal::after {
      content: "";
      position: absolute;
      top: 10px;
      right: 10px;
      width: calc(100% - 10px);
      height: calc(100% - 20px);
      border: 1px solid #F0F0F0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      border-radius: 0px 15px 15px 0px; }
    .personal__bg {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      -ms-flex-item-align: end;
          align-self: flex-end; }
    .personal__info {
      max-width: 510px; }
    .personal__subtitle {
      position: relative;
      max-width: 410px;
      text-align: start;
      font-size: 26px;
      line-height: 34px; }
      .personal__subtitle::before {
        content: "";
        position: absolute;
        left: -50px;
        top: 16px;
        width: 40px;
        height: 2px;
        background: -webkit-gradient(linear, left top, right top, from(rgba(233, 200, 120, 0.05)), to(#E9C878));
        background: -o-linear-gradient(left, rgba(233, 200, 120, 0.05) 0%, #E9C878 100%);
        background: linear-gradient(90deg, rgba(233, 200, 120, 0.05) 0%, #E9C878 100%);
        border-radius: 20px; }
    .personal__text {
      text-align: start;
      font-size: 20px;
      line-height: 30px; }
      .personal__text br {
        display: inline; }
    .personal__form {
      -ms-flex-negative: 0;
          flex-shrink: 0;
      max-width: 370px; } }

@media (min-width: 1200px) {
  .personal {
    padding-left: 220px; }
    .personal__bg {
      display: block;
      opacity: 0.3; } }

@media (min-width: 1440px) {
  .personal {
    padding-left: 440px; }
    .personal__bg {
      opacity: 1; } }

.form__input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  background: #F5F5F5;
  padding: 20px 30px;
  border-radius: 220px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .form__input::-webkit-input-placeholder {
    color: #A0A0A0; }
  .form__input::-moz-placeholder {
    color: #A0A0A0; }
  .form__input:-ms-input-placeholder {
    color: #A0A0A0; }
  .form__input::-ms-input-placeholder {
    color: #A0A0A0; }
  .form__input::placeholder {
    color: #A0A0A0; }

.form__privacy {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: rgba(40, 41, 46, 0.7); }

.form__link-privacy {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: inherit;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }
  .form__link-privacy:hover {
    color: #E9C878; }

.subtitle {
  margin: 0;
  font-family: Neumann;
  font-weight: normal;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  color: #28292E; }
  .subtitle--ben {
    display: block;
    font-size: 25px;
    line-height: 37px; }

@media (min-width: 1024px) {
  .subtitle {
    font-size: 68px;
    line-height: 100px; }
    .subtitle--ben {
      font-size: 45px;
      line-height: 66px; } }

.title-one {
  margin: 0 0 20px;
  font-family: Neumann;
  font-weight: normal;
  font-size: 35px;
  line-height: 52px;
  color: #007AFF; }

@media (min-width: 768px) {
  .title-one {
    font-size: 45px;
    line-height: 66px;
    color: #FFFFFF; } }

.benefits {
  padding: 50px 15px;
  background-color: #F5F5F5; }
  .benefits__preview {
    margin-top: 30px;
    display: block; }
    .benefits__preview img {
      width: 100%; }
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 35px;
    border: 1px solid #EBEBEB;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .benefits__list--houses {
      position: relative;
      margin-bottom: 100px; }
      .benefits__list--houses::after {
        position: absolute;
        bottom: -75px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        width: 100%;
        height: 75px;
        content: url("data:image/svg+xml,%3Csvg viewBox='0 0 328 75' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L164 74.2574L328 0V0.742574L164 75L0 0.742574V0Z' fill='%23EBEBEB'/%3E%3C/svg%3E%0A"); }
  .benefits__one {
    width: 100%; }

@media (min-width: 520px) {
  .benefits__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .benefits__one {
    -webkit-box-flex: 50%;
        -ms-flex: 50% 1 0px;
            flex: 50% 1 0; } }

@media (min-width: 768px) {
  .benefits {
    padding-left: calc((100% - var(--sm)) / 2);
    padding-right: calc((100% - var(--sm)) / 2); }
    .benefits__one {
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%; }
    .benefits__description {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-column-gap: 60px;
         -moz-column-gap: 60px;
              column-gap: 60px; }
    .benefits__preview {
      margin-top: 0;
      max-width: 435px;
      -ms-flex-negative: 0;
          flex-shrink: 0; } }

@media (min-width: 1024px) {
  .benefits {
    padding-top: 70px;
    padding-left: calc((100% - var(--md)) / 2);
    padding-right: calc((100% - var(--md)) / 2); }
    .benefits--main {
      padding-top: 255px; }
    .benefits__one {
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%; }
    .benefits__description {
      margin-bottom: 70px; }
    .benefits__list {
      border: none; }
      .benefits__list--houses {
        margin-bottom: 160px; }
        .benefits__list--houses::after {
          bottom: -100px;
          width: 390px;
          height: 100px; } }

@media (min-width: 1200px) {
  .benefits {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: calc((100% - var(--lg)) / 2);
    padding-right: calc((100% - var(--lg)) / 2); }
    .benefits--main {
      padding-top: 255px; } }

.ben-text__subtitle {
  margin-bottom: 35px;
  font-weight: normal; }

.ben-text__text {
  margin: 0;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #28292E; }
  .ben-text__text + .ben-text__text {
    margin-top: 30px; }

@media (min-width: 1024px) {
  .ben-text__subtitle {
    margin-bottom: 40px;
    text-align: start;
    font-size: 68px;
    line-height: 100px; }
  .ben-text__text {
    max-width: 570px;
    text-align: start;
    font-size: 22px;
    line-height: 36px; }
    .ben-text__text + .ben-text__text {
      margin-top: 50px; } }

.one-benefit {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .one-benefit + .one-benefit {
    border-top: 1px solid #EBEBEB; }
  .one-benefit__icon {
    width: 90px; }
    .one-benefit__icon img {
      width: 100%; }
  .one-benefit__number {
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: Neumann;
    font-size: 20px;
    line-height: 29px;
    color: #E9C878; }
  .one-benefit__title {
    margin: 25px 0 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #28292E; }

@media (min-width: 1024px) {
  .one-benefit {
    padding: 30px 25px 40px;
    border: 1px solid #EBEBEB; }
    .one-benefit__number {
      top: 30px;
      left: 45px; } }

.make {
  padding: 50px 15px; }
  .make__one {
    margin-top: 40px; }

@media (min-width: 768px) {
  .make {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: calc((100% - var(--sm)) / 2);
    padding-right: calc((100% - var(--sm)) / 2); }
    .make__one {
      margin-top: 80px; } }

@media (min-width: 1024px) {
  .make {
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: calc((100% - var(--md)) / 2);
    padding-right: calc((100% - var(--md)) / 2); }
    .make__one {
      margin-top: 80px; } }

@media (min-width: 1200px) {
  .make {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: calc((100% - var(--lg)) / 2);
    padding-right: calc((100% - var(--lg)) / 2); }
    .make__one {
      margin-top: 100px; } }

.one-make__description {
  margin-bottom: 15px; }

.one-make__title {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #28292E; }

.one-make__text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #28292E; }

.one-make__preview {
  display: block; }
  .one-make__preview img {
    width: 100%; }

.one-make__list {
  margin: 10px 0 0;
  padding: 0;
  list-style-position: inside; }

.one-make__item {
  padding-left: 15px;
  font-size: 14px;
  line-height: 24px; }

@media (min-width: 768px) {
  .one-make {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse; }
    .one-make:nth-child(odd) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
    .one-make__description {
      -webkit-box-flex: 370px;
          -ms-flex: 370px 1 0px;
              flex: 370px 1 0;
      margin-bottom: 0;
      padding-top: 10px; }
    .one-make__preview {
      -webkit-box-flex: 55%;
          -ms-flex: 55% 1 0px;
              flex: 55% 1 0; }
    .one-make__title {
      margin-bottom: 25px;
      font-size: 30px;
      line-height: 42px; }
    .one-make__text {
      font-size: 20px;
      line-height: 34px; } }

@media (min-width: 1200px) {
  .one-make {
    -webkit-column-gap: 100px;
       -moz-column-gap: 100px;
            column-gap: 100px; }
    .one-make__description {
      padding-top: 20px;
      -ms-flex-preferred-size: 370xp;
          flex-basis: 370xp; } }

.information {
  background-image: url(../images/photos-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.info-slider__descr {
  padding: 50px 15px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.info-slider__title {
  margin: 0 0 15px;
  font-family: Neumann;
  font-weight: normal;
  font-size: 35px;
  line-height: 52px; }

.info-slider__text {
  margin: 0;
  font-size: 16px;
  line-height: 24px; }

.info-slider__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  margin-top: 20px; }

.info-slider__element {
  display: block; }

@media (min-width: 768px) {
  .info-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .info-slider__descr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-left: calc((100% - var(--sm)) / 2);
      -webkit-box-flex: 50%;
          -ms-flex: 50% 1 0px;
              flex: 50% 1 0;
      width: 50%; }
    .info-slider--reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
      .info-slider--reverse .info-slider__descr {
        padding-right: calc((100% - var(--sm)) / 2); }
    .info-slider__elements {
      -webkit-box-flex: 50%;
          -ms-flex: 50% 1 0px;
              flex: 50% 1 0;
      width: 50%; } }

@media (min-width: 1024px) {
  .info-slider__descr {
    padding-left: calc((100% - var(--md)) / 2); }
  .info-slider--reverse .info-slider__descr {
    padding-right: calc((100% - var(--md)) / 2); } }

@media (min-width: 1200px) {
  .info-slider__descr {
    padding-left: calc((100% - var(--lg)) / 2);
    padding-right: 0; }
  .info-slider--reverse .info-slider__descr {
    padding-left: 115px;
    padding-right: calc((100% - var(--lg)) / 2); }
  .info-slider--reverse .info-slider__title {
    max-width: 470px; }
  .info-slider--reverse .info-slider__text {
    max-width: 470px; }
  .info-slider__title {
    font-size: 45px;
    line-height: 66px; }
  .info-slider__text {
    max-width: 370px;
    font-size: 20px;
    line-height: 34px; }
  .info-slider__btns {
    margin-top: 30px; } }

@media (min-width: 1440px) {
  .info-slider__btns {
    margin-top: 60px; } }

.info-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  line-height: 0; }
  .info-btn.slick-disabled {
    opacity: 0.3; }
  .info-btn:active {
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8); }
  .info-btn--prev {
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .info-btn__icon {
    width: 40px; }
    .info-btn__icon img {
      width: 100%; }

.houses {
  padding: 50px 15px; }
  .houses__project + .houses__project {
    margin-top: 25px; }

@media (min-width: 768px) {
  .houses {
    padding: 60px calc((100% - var(--sm)) / 2); }
    .houses__project + .houses__project {
      margin-top: 35px; } }

@media (min-width: 1024px) {
  .houses {
    padding: 80px calc((100% - var(--md)) / 2); }
    .houses__project + .houses__project {
      margin-top: 50px; } }

@media (min-width: 1200px) {
  .houses {
    padding: 120px calc((100% - var(--lg)) / 2); } }

.project-one {
  display: grid;
  grid-template-areas: "main main" "photo photo" "small1 small2";
  grid-gap: 5px; }
  .project-one__main {
    grid-area: main;
    position: relative; }
  .project-one__photo {
    grid-area: photo; }
    .project-one__photo--small1 {
      grid-area: small1; }
    .project-one__photo--small2 {
      grid-area: small2; }
  .project-one__info {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 100%;
    z-index: 5; }
  .project-one__title {
    margin: 0 0 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15); }
  .project-one__price {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15); }

@media (min-width: 1024px) {
  .project-one {
    grid-template-areas: "main main photo photo" "main main small1 small2"; }
    .project-one__title {
      margin-bottom: 15px;
      font-size: 26px;
      line-height: 31px; }
    .project-one__price {
      font-size: 36px;
      line-height: 43px; } }

@media (min-width: 1200px) {
  .project-one {
    grid-gap: 10px; } }

.map {
  position: relative;
  width: 100%;
  height: 450px; }
  .map__title {
    position: absolute;
    top: 40px;
    left: 0;
    padding: 10px 15px;
    background-color: #fff; }
  .map iframe {
    width: 100%;
    height: 100%;
    pointer-events: none; }
    .map iframe.map--scroll {
      pointer-events: all; }

@media (min-width: 768px) {
  .map__title {
    top: 55px;
    left: calc((100% - var(--sm)) / 2); } }

@media (min-width: 1024px) {
  .map {
    height: 750px; }
    .map__title {
      top: 65px;
      left: calc((100% - var(--md)) / 2); } }

@media (min-width: 1200px) {
  .map__title {
    top: 85px;
    left: calc((100% - var(--lg)) / 2); } }

.photos {
  padding: 50px 15px;
  background-image: url(../images/photos-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .photos__con {
    display: grid;
    grid-template-areas: "long long small" "tall small2 small3" "tall long2 long2";
    grid-gap: 3px;
    margin-top: 40px; }
  .photos__one--long {
    grid-area: long; }
  .photos__one--small {
    grid-area: small; }
  .photos__one--tall {
    grid-area: tall; }
  .photos__one--small2 {
    grid-area: small2; }
  .photos__one--small3 {
    grid-area: small3; }
  .photos__one--long2 {
    grid-area: long2; }

@media (min-width: 768px) {
  .photos {
    padding: 70px calc((100% - var(--sm)) / 2); }
    .photos__con {
      margin-top: 50px; } }

@media (min-width: 1024px) {
  .photos {
    padding: 90px calc((100% - var(--md)) / 2); }
    .photos__con {
      margin-top: 60px; } }

@media (min-width: 1200px) {
  .photos {
    padding: 120px calc((100% - var(--lg)) / 2); }
    .photos__con {
      margin-top: 80px; } }

.finish {
  padding: 50px 0; }
  .finish__header {
    padding: 0 15px;
    margin-bottom: 30px; }
  .finish__info {
    margin: 25px 0 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 25px;
    background-image: url(../images/finish/info-bg.png);
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    text-align: end;
    font-size: 14px;
    line-height: 24px; }

@media (min-width: 768px) {
  .finish {
    padding: 120px 0; }
    .finish__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-column-gap: 40px;
         -moz-column-gap: 40px;
              column-gap: 40px;
      padding: 0 calc((100% - var(--sm)) / 2); } }

@media (min-width: 1024px) {
  .finish__header {
    -webkit-column-gap: 85px;
       -moz-column-gap: 85px;
            column-gap: 85px;
    margin-bottom: 100px;
    padding: 0 calc((100% - var(--md)) / 2); }
  .finish__info {
    padding: 30px;
    font-size: 18px;
    line-height: 28px; }
  .finish__subtitle {
    font-size: 64px;
    line-height: 100px; } }

@media (min-width: 1200px) {
  .finish__header {
    -webkit-column-gap: 135px;
       -moz-column-gap: 135px;
            column-gap: 135px;
    padding: 0 calc((100% - var(--lg)) / 2); } }

.one-finish + .one-finish {
  margin-top: 25px; }

.one-finish__descr {
  padding: 0 15px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.one-finish__title {
  margin: 0 0 15px;
  font-family: Neumann;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px; }

.one-finish__text {
  margin: 0;
  font-size: 16px;
  line-height: 24px; }

.one-finish__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.one-finish__name {
  margin: 0;
  font-family: Neumann;
  font-weight: normal;
  font-size: 35px;
  line-height: 52px;
  color: #007AFF;
  text-transform: uppercase; }

.one-finish__number-photos {
  margin-left: 25px; }

.one-finish__header {
  margin-top: 10px; }

@media (min-width: 768px) {
  .one-finish {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .one-finish__descr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-left: calc((100% - var(--sm)) / 2);
      padding-right: 20px;
      -webkit-box-flex: 50%;
          -ms-flex: 50% 1 0px;
              flex: 50% 1 0;
      width: 50%; }
    .one-finish__elements {
      -webkit-box-flex: 50%;
          -ms-flex: 50% 1 0px;
              flex: 50% 1 0;
      width: 50%; } }

@media (min-width: 1024px) {
  .one-finish + .one-finish {
    margin-top: 100px; }
  .one-finish__descr {
    padding-top: 20px;
    padding-left: calc((100% - var(--md)) / 2);
    padding-right: 45px; }
  .one-finish__title {
    margin-bottom: 25px;
    font-size: 45px;
    line-height: 66px; }
  .one-finish__text {
    font-size: 20px;
    line-height: 34px; }
  .one-finish__header {
    margin-top: auto; }
  .one-finish__name {
    font-size: 45px;
    line-height: 66px; } }

@media (min-width: 1200px) {
  .one-finish__descr {
    padding-left: calc((100% - var(--lg)) / 2);
    padding-right: 85px; } }

.photos-number {
  position: relative;
  opacity: 0.8; }
  .photos-number::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 1px;
    height: 34px;
    background: #28292E;
    opacity: 0.8;
    -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
            transform: rotate(15deg); }
  .photos-number__number {
    font-size: 22px;
    line-height: 26px; }
  .photos-number__text {
    font-size: 10px;
    line-height: 12px; }

.white-block {
  padding: 50px 15px;
  background-color: #007AFF; }
  .white-block__title {
    color: #fff;
    text-align: start; }
  .white-block__list {
    margin: 20px 0 30px;
    padding: 0;
    list-style-position: inside;
    list-style: none; }
  .white-block__item {
    position: relative;
    padding-left: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .white-block__item::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      width: 5px;
      height: 5px;
      background: rgba(255, 255, 255, 0.6);
      border-radius: 50%; }
    .white-block__item + .white-block__item {
      margin-top: 5px; }

@media (min-width: 768px) {
  .white-block {
    padding: 60px calc((100% - var(--sm)) / 2); } }

@media (min-width: 1024px) {
  .white-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 80px calc((100% - var(--md)) / 2); }
    .white-block__title {
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      margin-right: 30px;
      font-size: 68px;
      line-height: 100px; }
    .white-block__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-column-gap: 15px;
         -moz-column-gap: 15px;
              column-gap: 15px;
      max-height: 335px;
      margin: 0; }
    .white-block__item {
      width: 100%;
      max-width: 370px;
      margin-bottom: 15px; }
      .white-block__item + .white-block__item {
        margin-top: 0px; }
    .white-block__photos {
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
      margin-top: 60px; } }

@media (min-width: 1200px) {
  .white-block {
    padding: 120px calc((100% - var(--lg)) / 2); }
    .white-block__title {
      margin-right: 130px; }
    .white-block__list {
      -webkit-column-gap: 30px;
         -moz-column-gap: 30px;
              column-gap: 30px; }
    .white-block__photos {
      margin-top: 80px; } }

.white-photos {
  display: grid;
  gap: 5px;
  grid-template-areas: "big big" "left right" "b-left b-right"; }
  .white-photos__one {
    display: block; }
    .white-photos__one--big {
      grid-area: big; }
    .white-photos__one--left {
      grid-area: left; }
    .white-photos__one--right {
      grid-area: right; }
    .white-photos__one--bottom-left {
      grid-area: b-left; }
    .white-photos__one--bottom-right {
      grid-area: b-right; }

@media (min-width: 768px) {
  .white-photos {
    grid-template-areas: "left big big right" "b-left big big b-right"; } }

@media (min-width: 768px) {
  .white-photos {
    gap: 10px; } }

.choose {
  padding: 50px 15px; }
  .choose__one + .choose__one {
    margin-top: 25px; }

@media (min-width: 768px) {
  .choose {
    padding: 60px calc((100% - var(--sm)) / 2) 70px; }
    .choose__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px; }
    .choose__one + .choose__one {
      margin-top: 0; } }

@media (min-width: 768px) {
  .choose__header {
    margin-bottom: 40px; } }

@media (min-width: 1024px) {
  .choose {
    padding: 100px calc((100% - var(--md)) / 2) 80px; }
    .choose__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 80px; } }

@media (min-width: 1200px) {
  .choose {
    padding: 120px calc((100% - var(--lg)) / 2) 100px; } }

.info-reserve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 30px;
  padding: 0 15px; }
  .info-reserve__var {
    position: relative;
    padding-left: 15px;
    font-size: 14px;
    line-height: 20px; }
    .info-reserve__var::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 6px;
      height: 6px;
      -webkit-transform-origin: center center;
          -ms-transform-origin: center center;
              transform-origin: center center;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .info-reserve__var--free::before {
      background-color: #06B436; }
    .info-reserve__var--sold::before {
      background-color: #B40606; }
    .info-reserve__var--reserve::before {
      background-color: #007AFF; }

@media (min-width: 1024px) {
  .info-reserve {
    margin: 0;
    padding: 0; }
    .info-reserve__var + .info-reserve__var {
      margin-left: 80px; } }

.one-choose {
  position: relative;
  width: 100%;
  max-width: 570px; }
  .one-choose__info {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    padding: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .one-choose__title {
    margin: 0 0 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15); }
  .one-choose__btn {
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 10;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }
    .one-choose__btn--prev {
      right: unset;
      left: 15px;
      -webkit-transform: translate(0, -50%) rotate(180deg);
          -ms-transform: translate(0, -50%) rotate(180deg);
              transform: translate(0, -50%) rotate(180deg); }

@media (min-width: 1024px) {
  .one-choose__info {
    padding: 30px 35px 0;
    padding-right: 65px; }
  .one-choose__title {
    margin-bottom: 25px;
    font-size: 26px;
    line-height: 31px; } }

.choose-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  border: none; }
  .choose-btn__icon {
    width: 100%; }

.info-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px; }
  .info-numbers__one, .schema__number {
    position: relative;
    width: 100%;
    height: 100%;
    width: 36px;
    padding-left: 5px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .info-numbers__one.green, .green.schema__number {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 35 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2C0 0.895431 0.895431 0 2 0L32.8387 0C34.3072 0 35.2749 1.5297 34.646 2.85664L31.6661 9.14336C31.4091 9.68554 31.4091 10.3145 31.6661 10.8566L34.646 17.1434C35.2749 18.4703 34.3072 20 32.8387 20L2 20C0.895432 20 0 19.1046 0 18L0 2Z' fill='%2306B436'/%3E%3C/svg%3E%0A"); }
    .info-numbers__one.blue, .blue.schema__number {
      background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 35 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2C0 0.895431 0.895431 0 2 0L32.8387 0C34.3072 0 35.2749 1.5297 34.646 2.85664L31.6661 9.14336C31.4091 9.68554 31.4091 10.3145 31.6661 10.8566L34.646 17.1434C35.2749 18.4703 34.3072 20 32.8387 20L2 20C0.895432 20 0 19.1046 0 18L0 2Z' fill='%23007AFF'/%3E%3C/svg%3E"); }
    .info-numbers__one.red, .red.schema__number {
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 35 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2C0 0.895431 0.895431 0 2 0L32.8387 0C34.3072 0 35.2749 1.5297 34.646 2.85664L31.6661 9.14336C31.4091 9.68554 31.4091 10.3145 31.6661 10.8566L34.646 17.1434C35.2749 18.4703 34.3072 20 32.8387 20L2 20C0.895432 20 0 19.1046 0 18L0 2Z' fill='%23B40606'/%3E%3C/svg%3E%0A"); }
  .info-numbers__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }

@media (min-width: 1024px) {
  .info-numbers {
    gap: 10px; }
    .info-numbers__one, .schema__number {
      width: 50px;
      padding-left: 7px;
      padding-right: 14px;
      font-size: 16px;
      line-height: 30px; } }

.callback {
  padding: 50px 15px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/callback-bg.jpg); }
  .callback__title {
    display: block;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .callback__form {
    margin: 40px auto 0;
    max-width: 370px; }
    .callback__form .form__privacy {
      color: #fff;
      opacity: 0.7; }

@media (min-width: 768px) {
  .callback {
    padding: 60px calc((100% - var(--sm)) / 2) 60px; }
    .callback__form {
      margin-top: 50px; } }

@media (max-width: 768px) {
  .callback__title .main-title__gradient {
    font-size: 35px;
    line-height: 52px; } }

@media (min-width: 1024px) {
  .callback {
    padding: 80px calc((100% - var(--md)) / 2) 80px; }
    .callback__form {
      margin-top: 70px; } }

@media (min-width: 1200px) {
  .callback {
    padding: 100px calc((100% - var(--lg)) / 2) 100px; } }

.one {
  padding-bottom: 50px;
  background-color: #F5F5F5; }
  .one .header {
    padding-bottom: 20px;
    background-color: #00004A; }
  .one__descr {
    padding: 0 15px 50px; }

@media (min-width: 768px) {
  .one {
    padding: 0 calc((100% - var(--sm)) / 2) 100px;
    background-color: #333352; }
    .one .header {
      background-color: unset; }
    .one__descr {
      padding-left: 0;
      padding-right: 0; } }

@media (min-width: 1024px) {
  .one {
    padding: 0 calc((100% - var(--md)) / 2) 100px; } }

@media (min-width: 1200px) {
  .one {
    padding: 0px calc((100% - var(--lg)) / 2) 120px; } }

.one-description__chars {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px; }

.one-description__special {
  margin-top: 30px;
  margin-bottom: 35px; }

@media (min-width: 1024px) {
  .one-description {
    display: grid;
    grid-template-areas: "title chars" "btn chars";
    grid-template-columns: 1fr 1fr; }
    .one-description__info {
      max-width: 370px; }
    .one-description__chars {
      grid-area: chars;
      -webkit-column-gap: 30px;
         -moz-column-gap: 30px;
              column-gap: 30px;
      row-gap: 40px; }
    .one-description__title {
      grid-area: title;
      max-width: 90%; }
    .one-description__btn {
      grid-area: btn; } }

.char-one__name {
  margin: 0;
  font-size: 12px;
  line-height: 14px; }

.char-one__val {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px; }

@media (min-width: 768px) {
  .char-one__name {
    color: rgba(255, 255, 255, 0.7); }
  .char-one__val {
    color: #fff; } }

@media (min-width: 1024px) {
  .char-one__name {
    font-size: 14px;
    line-height: 17px; }
  .char-one__val {
    font-size: 24px;
    line-height: 29px; } }

.special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 1px solid #007AFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px; }
  .special__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
    -webkit-box-flex: 50%;
        -ms-flex: 50% 1 0px;
            flex: 50% 1 0;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 2;
    text-transform: uppercase;
    color: #007AFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .special__finish {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 8px;
       -moz-column-gap: 8px;
            column-gap: 8px;
    -webkit-box-flex: 50%;
        -ms-flex: 50% 1 0px;
            flex: 50% 1 0;
    padding: 10px 0;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    border-radius: 4px;
    background-color: #007AFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .special__icon {
    width: 20px; }

@media (min-width: 768px) {
  .special {
    border-color: #fff; }
    .special__text {
      color: rgba(255, 255, 255, 0.7); }
    .special__finish {
      color: #00004A;
      background-color: #fff; } }

@media (min-width: 1024px) {
  .special__text {
    padding-left: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 14px;
    line-height: 17px; }
  .special__finish {
    padding: 10px;
    padding-left: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    font-size: 20px;
    line-height: 24px; } }

.info-house__preview {
  display: block; }

.info-house__floors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px; }

.info-house__floor-preview {
  padding: 0 15px; }

.info-house__pluses {
  margin-top: 40px;
  padding: 0 15px; }

@media (min-width: 1024px) {
  .info-house__chars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
    margin-top: 80px; }
  .info-house__floor-preview {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .info-house__floors {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
    padding-left: 50px; }
  .info-house__pluses {
    max-width: 170px; } }

@media (min-width: 1200px) {
  .info-house__chars {
    margin-top: 120px; }
  .info-house__floors {
    padding-left: 70px; } }

.floor-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in; }
  .floor-btn__number {
    font-family: Neumann;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px; }
  .floor-btn:hover {
    border-color: #007AFF;
    background-color: #007AFF;
    color: #fff;
    opacity: 0.5; }
  .floor-btn--active {
    border-color: #007AFF;
    background-color: #007AFF;
    color: #fff; }

@media (min-width: 768px) {
  .floor-btn {
    color: #fff;
    border-color: #fff; }
    .floor-btn:hover {
      opacity: 1; }
    .floor-btn:hover, .floor-btn--active {
      border-color: rgba(255, 255, 255, 0.3);
      background-color: rgba(255, 255, 255, 0.3); } }

.one-plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px; }
  .one-plus + .one-plus {
    margin-top: 30px; }
  .one-plus__icon {
    width: 50px; }
  .one-plus__name {
    font-family: Neumann;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-transform: uppercase;
    color: #007AFF; }

@media (min-width: 768px) {
  .one-plus__name {
    color: #fff; } }

@media (min-width: 1024px) {
  .one-plus {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
    .one-plus__icon {
      width: 60px; }
    .one-plus__name {
      margin-top: 20px;
      color: #fff;
      text-align: center; } }

.breadcrumbs {
  padding: 35px 15px 40px; }
  .breadcrumbs__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.5;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .breadcrumbs__link:hover {
      opacity: 1; }
  .breadcrumbs__icon {
    width: 30px; }

@media (min-width: 768px) {
  .breadcrumbs__link {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.5; } }

.walk {
  padding: 50px 0px; }
  .walk__header {
    padding: 0 15px; }
  .walk__btn {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 15px auto;
    padding: 20px 40px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-radius: 220px;
    border: 2px solid #E9C878;
    background-color: transparent; }

@media (min-width: 768px) {
  .walk {
    padding: 70px calc((100% - var(--sm)) / 2); } }

@media (min-width: 1024px) {
  .walk {
    padding: 90px 0;
    padding-right: 0; }
    .walk__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: calc((100% - var(--md)) / 2);
      padding-right: calc((100% - var(--md)) / 2); }
    .walk__slider {
      padding-left: calc((100% - var(--md)) / 2);
      margin-top: 100px; }
    .walk__btn {
      margin: 0;
      padding: 25px 0;
      width: 270px;
      font-size: 14px;
      line-height: 17px; } }

@media (min-width: 1200px) {
  .walk {
    padding: 120px 0;
    padding-right: 0; }
    .walk__header {
      padding-left: calc((100% - var(--lg)) / 2);
      padding-right: calc((100% - var(--lg)) / 2); }
    .walk__slider {
      padding-left: calc((100% - var(--lg)) / 2); } }

.walk-slider__elements {
  margin-top: 40px; }

.walk-slider__info {
  margin-top: 20px;
  padding: 0 15px; }

.walk-slider__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.walk-slider__title {
  margin: 0 0 25px;
  font-weight: normal;
  font-family: Neumann;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase; }

.walk-slider__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  margin: 0;
  padding: 0;
  list-style: none; }
  .walk-slider__dots li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .walk-slider__dots .slick-active button {
    width: 10px;
    height: 10px;
    background-color: #007AFF; }
  .walk-slider__dots button {
    padding: 0;
    width: 6px;
    height: 6px;
    font-size: 0;
    color: transparent;
    border-radius: 50%;
    background-color: #000; }

@media (min-width: 1024px) {
  .walk-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse nowrap;
            flex-flow: row-reverse nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px; }
    .walk-slider__elements {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      margin-top: 0;
      max-width: 700px; }
    .walk-slider__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column nowrap;
              flex-flow: column nowrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-flex: 1;
          -ms-flex: auto 0 0px;
              flex: auto 0 0;
      margin: 0;
      padding: 20px 0; }
    .walk-slider__title {
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      font-size: 45px;
      line-height: 66px;
      text-align: start; }
    .walk-slider__btns {
      width: 100%;
      max-width: 200px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }

@media (min-width: 1200px) {
  .walk-slider {
    -webkit-column-gap: 130px;
       -moz-column-gap: 130px;
            column-gap: 130px; }
    .walk-slider__elements {
      max-width: 860px; } }

@media (min-width: 1520px) {
  .walk-slider__elements {
    max-width: 955px; } }

.thanks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh; }
  .thanks .header {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #00004A; }
  .thanks__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: #F5F5F5; }
  .thanks__icon {
    width: 30%;
    max-width: 120px; }
  .thanks__title {
    margin-bottom: 20px;
    font-family: Neumann;
    text-align: center;
    font-weight: normal; }
  .thanks__text {
    width: 80%;
    margin: 0;
    text-align: center; }
    .thanks__text--marked {
      font-weight: 600;
      color: #E9C878; }
    .thanks__text + .thanks__text {
      margin-top: 15px; }
  .thanks__link {
    margin-top: 25px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #28292E;
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in; }
    .thanks__link:hover {
      color: #E9C878; }

@media (min-width: 768px) {
  .thanks__title {
    margin: 30px 0 40px;
    font-size: 68px;
    line-height: 100px; }
  .thanks__text {
    max-width: 570px;
    font-size: 26px;
    line-height: 36px; }
  .thanks__link {
    margin-top: 30px;
    font-size: 34px;
    line-height: 36px; } }

.plan {
  position: relative; }
  .plan__schema {
    overflow-y: scroll; }
  .plan__sale {
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 11; }
  .plan__info {
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2%; }

@media (min-width: 768px) {
  .plan__sale {
    left: unset;
    right: calc((100% - var(--sm)) / 2);
    border-radius: 0px 0px 10px 10px; }
  .plan__info {
    margin-top: 30px; } }

@media (min-width: 1024px) {
  .plan__schema {
    overflow: visible; }
  .plan__sale {
    right: calc((100% - var(--md)) / 2); }
  .plan__info {
    margin-top: 40px; } }

@media (min-width: 1200px) {
  .plan__sale {
    right: calc((100% - var(--lg)) / 2); } }

.sale {
  padding: 12px 15px;
  border-radius: 0px 0px 10px 10px;
  background: rgba(6, 180, 54, 0.5); }
  .sale__info {
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8); }
  .sale__procent {
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    color: #E9C878; }
  .sale__icon {
    position: absolute;
    bottom: -35px;
    right: -35px;
    width: 70px; }

@media (min-width: 1024px) {
  .sale {
    padding: 30px 35px 50px; }
    .sale__info {
      font-size: 20px;
      line-height: 28px; }
    .sale__procent {
      font-size: 58px;
      line-height: 58px; }
    .sale__icon {
      top: unset;
      bottom: -50px;
      right: -50px;
      width: 100px; } }

.schema {
  position: relative;
  width: 100%;
  min-width: 1200px;
  max-width: 1540px;
  margin: 0 auto; }
  .schema__photo {
    display: block; }
  .schema__point {
    position: absolute; }
    .schema__point:hover .schema-info {
      display: block; }
    .schema__point[data-number="1"] {
      bottom: 19%;
      left: 7%;
      z-index: 16; }
    .schema__point[data-number="2"] {
      bottom: 19%;
      left: 18%;
      z-index: 16; }
    .schema__point[data-number="3"] {
      bottom: 19%;
      left: 27%;
      z-index: 16; }
    .schema__point[data-number="4"] {
      bottom: 19%;
      left: 36%;
      z-index: 16; }
    .schema__point[data-number="5"] {
      bottom: 19%;
      left: 46%;
      z-index: 16; }
    .schema__point[data-number="6"] {
      bottom: 19%;
      left: 53%;
      z-index: 16; }
    .schema__point[data-number="7"] {
      bottom: 19%;
      left: 64%;
      z-index: 16; }
    .schema__point[data-number="8"] {
      bottom: 19%;
      left: 72%;
      z-index: 16; }
    .schema__point[data-number="9"] {
      bottom: 19%;
      left: 81%;
      z-index: 16; }
    .schema__point[data-number="10"] {
      bottom: 19%;
      left: 90%;
      z-index: 16; }
    .schema__point[data-number="11"] {
      bottom: 42%;
      left: 13%;
      z-index: 15; }
    .schema__point[data-number="12"] {
      bottom: 42%;
      left: 27%;
      z-index: 15; }
    .schema__point[data-number="13"] {
      bottom: 38%;
      left: 36%;
      z-index: 15; }
    .schema__point[data-number="14"] {
      bottom: 38%;
      left: 50%;
      z-index: 15; }
    .schema__point[data-number="15"] {
      bottom: 40%;
      left: 62%;
      z-index: 15; }
    .schema__point[data-number="16"] {
      bottom: 40%;
      left: 74%;
      z-index: 15; }
    .schema__point[data-number="17"] {
      bottom: 40%;
      left: 83%;
      z-index: 15; }
    .schema__point[data-number="18"] {
      bottom: 52%;
      left: 14%;
      z-index: 14; }
    .schema__point[data-number="19"] {
      bottom: 53%;
      left: 28%;
      z-index: 14; }
    .schema__point[data-number="20"] {
      bottom: 50%;
      left: 36%;
      z-index: 14; }
    .schema__point[data-number="21"] {
      bottom: 52%;
      left: 49%;
      z-index: 14; }
    .schema__point[data-number="22"] {
      bottom: 57%;
      left: 63%; }
    .schema__point[data-number="23"] {
      bottom: 54%;
      left: 73%; }
    .schema__point[data-number="24"] {
      bottom: 63%;
      left: 16%;
      z-index: 13; }
    .schema__point[data-number="25"] {
      bottom: 61%;
      left: 28%;
      z-index: 13; }
    .schema__point[data-number="26"] {
      bottom: 61%;
      left: 37%;
      z-index: 13; }
    .schema__point[data-number="27"] {
      bottom: 60%;
      left: 49%;
      z-index: 13; }
    .schema__point[data-number="28"] {
      bottom: 72%;
      left: 18%;
      z-index: 12; }
    .schema__point[data-number="29"] {
      bottom: 70%;
      left: 29%;
      z-index: 12; }
    .schema__point[data-number="30"] {
      bottom: 71%;
      left: 36%;
      z-index: 12; }
    .schema__point[data-number="31"] {
      bottom: 72%;
      left: 44%;
      z-index: 12; }
    .schema__point[data-number="32"] {
      bottom: 68%;
      left: 50%;
      z-index: 12; }
    .schema__point[data-number="33"] {
      bottom: 82%;
      left: 17%; }
    .schema__point[data-number="34"] {
      bottom: 82%;
      left: 24%; }
    .schema__point[data-number="35"] {
      bottom: 78%;
      left: 31%; }
  .schema__number {
    display: block;
    text-decoration: none; }

@media (max-width: 1024px) {
  .schema__point[data-number="22"], .schema__point[data-number="27"], .schema__point[data-number="30"], .schema__point[data-number="31"], .schema__point[data-number="32"], .schema__point[data-number="33"], .schema__point[data-number="34"], .schema__point[data-number="35"] {
    z-index: 20; }
    .schema__point[data-number="22"] .schema-point__tooltip, .schema__point[data-number="27"] .schema-point__tooltip, .schema__point[data-number="30"] .schema-point__tooltip, .schema__point[data-number="31"] .schema-point__tooltip, .schema__point[data-number="32"] .schema-point__tooltip, .schema__point[data-number="33"] .schema-point__tooltip, .schema__point[data-number="34"] .schema-point__tooltip, .schema__point[data-number="35"] .schema-point__tooltip {
      top: calc(100% + 30px);
      z-index: 100; } }

.schema-info {
  display: none;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  z-index: 20;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 170px;
  padding: 35px 20px 20px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .schema-info__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    width: 100%;
    height: calc(100% + 10px); }
  .schema-info__number {
    position: absolute;
    top: -15px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 9px;
    vertical-align: middle;
    color: #fff;
    border-radius: 50%; }
  .schema-info__title {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px; }
  .schema-info__char {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px; }
  .schema-info__val {
    font-size: 14px;
    line-height: 17px; }
    .schema-info__val--price {
      font-weight: 600; }
  .schema-info.green .schema-info__number {
    background-color: #06B436; }
  .schema-info.green .schema-info__title {
    color: #06B436; }
  .schema-info.blue .schema-info__number {
    background-color: #007AFF; }
  .schema-info.blue .schema-info__title {
    color: #007AFF; }
  .schema-info.red .schema-info__number {
    background-color: #B40606; }
  .schema-info.red .schema-info__title {
    color: #B40606; }

.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: none;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s; }
  .modal-video--open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.modal__dark {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.modal__content {
  z-index: 5;
  max-width: 90%;
  width: 800px; }

.modal__video-wrap {
  position: relative;
  padding-bottom: 47%; }

.modal__video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

body {
  font-family: MuseoSans;
  color: #28292E; }

* {
  outline-color: #E9C878; }

button {
  cursor: pointer; }

picture {
  line-height: 0; }
  picture img {
    width: 100%; }
