<section class="benefits @@additional-class">
    <div class="benefits__description">
        <div class="benefits__text ben-text">
            <h2 class="ben-text__subtitle subtitle">Преимущества
                <span class="subtitle--ben">вашего нового дома</span>
            </h2>
            <p class="ben-text__text">КП «Крёкшино Вилладж» спроектирован в ультрамодном европейском архитектурном стиле. </p>
            <p class="ben-text__text">И это, подчёркивает его индивидуальность. Каждый дом, гармонично вливается, в единое целое коттеджного посёлка.</p>
        </div>
        <picture class="benefits__preview">
            <img src="images/benefits.png" alt="Преимущества вашего нового дома">
        </picture>
    </div>
    <div class="benefits__list">
        <div class="benefits__one one-benefit">
            <span class="one-benefit__number">01</span>    <picture class="one-benefit__icon">
                <source type="images/svg+xml" srcset="images/benefits/b1.svg">
                <img src="images/benefits/b1.png" alt="">
            </picture>
            <h5 class="one-benefit__title">Ипотека от 6%</h5>
        </div>
        
        <div class="benefits__one one-benefit">
            <span class="one-benefit__number">02</span>    <picture class="one-benefit__icon">
                <source type="images/svg+xml" srcset="images/benefits/b2.svg">
                <img src="images/benefits/b2.png" alt="">
            </picture>
            <h5 class="one-benefit__title">Первый взнос: 10%</h5>
        </div>
        <div class="benefits__one one-benefit">
            <span class="one-benefit__number">03</span>    <picture class="one-benefit__icon">
                <source type="images/svg+xml" srcset="images/benefits/b3.svg">
                <img src="images/benefits/b3.png" alt="">
            </picture>
            <h5 class="one-benefit__title">Навес для 2-х машин</h5>
        </div>
        <div class="benefits__one one-benefit">
            <span class="one-benefit__number">04</span>    <picture class="one-benefit__icon">
                <source type="images/svg+xml" srcset="images/benefits/b4.svg">
                <img src="images/benefits/b4.png" alt="">
            </picture>
            <h5 class="one-benefit__title">Московская прописка</h5>
        </div>
        <div class="benefits__one one-benefit">
            <span class="one-benefit__number">05</span>    <picture class="one-benefit__icon">
                <source type="images/svg+xml" srcset="images/benefits/b5.svg">
                <img src="images/benefits/b5.png" alt="">
            </picture>
            <h5 class="one-benefit__title">Все коммуникации: Вода, Канализация, Электричество</h5>
        </div>
        <div class="benefits__one one-benefit">
            <span class="one-benefit__number">06</span>    <picture class="one-benefit__icon">
                <source type="images/svg+xml" srcset="images/benefits/b6.svg">
                <img src="images/benefits/b6.png" alt="">
            </picture>
            <h5 class="one-benefit__title">Стены отделаны облицовочным кирпичом</h5>
        </div>
        <div class="benefits__one one-benefit">
            <span class="one-benefit__number">07</span>    <picture class="one-benefit__icon">
                <source type="images/svg+xml" srcset="images/benefits/b7.svg">
                <img src="images/benefits/b7.png" alt="">
            </picture>
            <h5 class="one-benefit__title">Дом стоит на УШП (утеплённой шведской плите)</h5>
        </div>
        <div class="benefits__one one-benefit">
            <span class="one-benefit__number">08</span>    <picture class="one-benefit__icon">
                <source type="images/svg+xml" srcset="images/benefits/b8.svg">
                <img src="images/benefits/b8.png" alt="">
            </picture>
            <h5 class="one-benefit__title">Тёплые полы во всём доме</h5>
        </div>
        <div class="benefits__one one-benefit">
            <span class="one-benefit__number">09</span>    <picture class="one-benefit__icon">
                <source type="images/svg+xml" srcset="images/benefits/b9.svg">
                <img src="images/benefits/b9.png" alt="">
            </picture>
            <h5 class="one-benefit__title">Энерго-эффективное панорамное остекление</h5>
        </div>
        <div class="benefits__one one-benefit">
            <span class="one-benefit__number">10</span>    <picture class="one-benefit__icon">
                <source type="images/svg+xml" srcset="images/benefits/b10.svg">
                <img src="images/benefits/b10.png" alt="">
            </picture>
            <h5 class="one-benefit__title">Встроенные напольные конвектора перед панорамным остеклением</h5>
        </div>
        <div class="benefits__one one-benefit">
            <span class="one-benefit__number">11</span>    <picture class="one-benefit__icon">
                <source type="images/svg+xml" srcset="images/benefits/b11.svg">
                <img src="images/benefits/b11.png" alt="">
            </picture>
            <h5 class="one-benefit__title">Отопление, электрика и сантехника сделана по всему дому</h5>
        </div>
        <div class="benefits__one one-benefit">
            <span class="one-benefit__number">12</span>    <picture class="one-benefit__icon">
                <source type="images/svg+xml" srcset="images/benefits/b12.svg">
                <img src="images/benefits/b12.png" alt="">
            </picture>
            <h5 class="one-benefit__title">Эксклюзивный лицевой кирпич ручной формовки в 3D-кладке</h5>
        </div>
        <div class="benefits__one one-benefit">
            <span class="one-benefit__number">13</span>    <picture class="one-benefit__icon">
                <source type="images/svg+xml" srcset="images/benefits/b13.svg">
                <img src="images/benefits/b13.png" alt="">
            </picture>
            <h5 class="one-benefit__title">Стены вашего дома сделаны из экологического керамического блока</h5>
        </div>

    </div>
</section>