<section class="callback">
    <h2 class="main-title callback__title">
        <span class="main-title__gradient">Запланируйте просмотр участка</span>
        и зафиксируйте цену!
    </h2>
    <form action="#" class="callback__form form">
        <input name="phone" type="tel" class="form__input" placeholder="Введите номер телефона">
        <button type="submit" class="btn btn--form">
            <picture class="btn__icon">
                <source srcset="images/icons/callback-btn.svg" type="images/svg+xml">
                <img src="images/icons/callback-btn.png" alt="">
            </picture>
            Получить предложение
        </button>
        <p class="form__privacy">
            Нажимая на кнопку, вы соглашаетесь с правилами <a href="#" class="form__link-privacy">обработки персональных данных</a>
        </p>
    </form>
</section>