<header class="header">
    <div class="head">
        <a href="/" class="head__main">CRUKSHINO VILLAGE</a>
        <div class="head__social head-social">
            <a href="#" target="_blank" class="head-social__link" title="Instagram"><picture class="head-social__icon"> <source type="image/svg+xml" srcset="images/social/inst.svg"> <img src="images/social/inst.png" alt="Instagram"> </picture></a>
            <a href="#" target="_blank" class="head-social__link" title="Vk"><picture class="head-social__icon"> <source type="image/svg+xml" srcset="images/social/vk.svg"> <img src="images/social/vk.png" alt="Vk"> </picture></a>
            <a href="#" target="_blank" class="head-social__link" title="Facebook"><picture class="head-social__icon"> <source type="image/svg+xml" srcset="images/social/fb.svg"> <img src="images/social/fb.png" alt="Facebook"> </picture></a>
            <a href="#" target="_blank" class="head-social__link" title="Ok"><picture class="head-social__icon"> <source type="image/svg+xml" srcset="images/social/ok.svg"> <img src="images/social/ok.png" alt="Ok"> </picture></a>
            <a href="#" target="_blank" class="head-social__link" title="WhatsApp"><picture class="head-social__icon"> <source type="image/svg+xml" srcset="images/social/whatsapp.svg"> <img src="images/social/whatsapp.png" alt="WhatsApp"> </picture></a>
        </div>
        <div class="head__contacts head-contacts">
            <p class="head-contacts__quest">Есть вопросы? <span class="head-contacts__quest--marked">Звоните!</span></p>
            <a href="tel:89252119123" class="head-contacts__phone">+7 (925) 211-91-23</a>
            <p class="head-contacts__work-time">Время работы: с 8 до 20</p>
        </div>
    </div>
</header>