.benefits{
    padding: 50px 15px;
    background-color: #F5F5F5;
    &__preview{
        margin-top: 30px;
        display: block;
        img{
            width: 100%;
        }
    }
    &__list{
        @include flex(column, nowrap, flex-start, flex-start);
        margin-top: 35px;
        border: 1px solid #EBEBEB;
        box-sizing: border-box;
        &--houses{
            position: relative;
            margin-bottom: 100px;
            &::after{
                position: absolute;
                bottom: -75px;
                left: 50%;
                transform: translate(-50%, 0);
                width: 100%;
                height: 75px;
                content: url("data:image/svg+xml,%3Csvg viewBox='0 0 328 75' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L164 74.2574L328 0V0.742574L164 75L0 0.742574V0Z' fill='%23EBEBEB'/%3E%3C/svg%3E%0A");;
                
            }
        }
    }
    &__one{
        width: 100%;
    }
}
@media (min-width: 520px){
    .benefits{
        &__list{
            flex-flow: row wrap;
            align-items: stretch;
        }
        &__one{
            flex: 50% 1 0;
        }
    }
}
@media (min-width: 768px){
    .benefits{
        padding-left: calc((100% - var(--sm)) / 2);
        padding-right: calc((100% - var(--sm)) / 2);
        &__one{
            flex-basis: 33%;
        }
        &__description{
            @include flex(row, nowrap, space-between, center);
            column-gap: 60px;
        }
        &__preview{
            margin-top: 0;
            max-width: 435px;
            flex-shrink: 0;
        }
    }
}
@media (min-width: 1024px){
    .benefits{
        padding-top: 70px;
        padding-left: calc((100% - var(--md)) / 2);
        padding-right: calc((100% - var(--md)) / 2);
        &--main{
            padding-top: 255px;
        }
        &__one{
            flex-basis: 25%;
        }
        &__description{
            margin-bottom: 70px;
        }
        &__list{
            border: none;
            &--houses{
                margin-bottom: 160px;
                &::after{
                    bottom: -100px;
                    width: 390px;
                    height: 100px;
                }
            }
        }
    }
}
@media (min-width: 1200px){
    .benefits{
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: calc((100% - var(--lg)) / 2);
        padding-right: calc((100% - var(--lg)) / 2);
        &--main{
            padding-top: 255px;
        }
    }
}

.ben-text{
    &__subtitle{
        margin-bottom: 35px;
        font-weight: normal;
    }
    &__text{
        margin: 0;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: $text-color;
        & + &{
            margin-top: 30px;
        }
    }
}
@media (min-width: 1024px){
    .ben-text{
        &__subtitle{
            margin-bottom: 40px;
            text-align: start;
            font-size: 68px;
            line-height: 100px;
        }
        &__text{
            max-width: 570px;
            text-align: start;
            font-size: 22px;
            line-height: 36px;
            & + &{
                margin-top: 50px;
            }
        }
    }
}

.one-benefit{
    position: relative;
    @include flex(column, nowrap, center, center);
    padding: 30px 20px 25px;
    box-sizing: border-box;
    & + &{
        border-top: 1px solid #EBEBEB;
    }
    &__icon{
        width: 90px;
        img{
            width: 100%;
        }
    }
    &__number{
        position: absolute;
        top: 20px;
        left: 20px;
        font-family: $title-font;
        font-size: 20px;
        line-height: 29px;
        color: #E9C878;
    }
    &__title{
        margin: 25px 0 0;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: $text-color;
    }

}
@media (min-width: 1024px){
    .one-benefit{
        padding: 30px 25px 40px;
        border: 1px solid #EBEBEB;
        &__number{
            top: 30px;
            left: 45px;
        }
    }
}