.breadcrumbs{
    padding: 35px 15px 40px;
    &__link{
        @include flex(row, nowrap, flex-start, center);
        width: fit-content;
        column-gap: 15px;
        text-decoration: none;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        color: #000000;
        opacity: 0.5;
        @include trans;
        &:hover{
            opacity: 1;
        }
    }
    &__icon{
        width: 30px;
    }
}
@media (min-width: 768px){
    .breadcrumbs{
        &__link{
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            opacity: 0.5;
        }
    }
}