.btn{
    @include flex(row, nowrap, center, center);
    width: 100%;
    padding: 20px 30px;
    border-radius: 220px;
    background: radial-gradient(31.58% 218.14% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(92.7deg, #E9C878 0%, #C1A050 100%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #6E5A45;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.25);
    text-decoration: none;
    &__icon{
        width: 25px;
        height: 25px;
        margin-right: 15px;
    }
}
@media (min-width: 768px){
    .btn{
        width: fit-content;
        &--main-add{
            margin-top: 25px;;
        }
        &--form{
            width: 100%;
        }
    }
}