.callback{
    padding: 50px 15px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/callback-bg.jpg);
    &__title{
        display: block;
        max-width: 770px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    &__form{
        margin: 40px auto 0;
        max-width: 370px;
        .form__privacy{
            color: #fff;
            opacity: 0.7;
        }
    }
}
@media (min-width: 768px){
    .callback{
        padding: 60px calc((100% - var(--sm)) / 2) 60px;
        &__form{
            margin-top: 50px;
        }
    }
}
@media (max-width: 768px){
    .callback{
        &__title{
            .main-title__gradient{
                font-size: 35px;
                line-height: 52px;
            }
        }
    }
}
@media (min-width: 1024px){
    .callback{
        padding: 80px calc((100% - var(--md)) / 2) 80px;
        &__form{
            margin-top: 70px;
        }
    }
}
@media (min-width: 1200px){
    .callback{
        padding: 100px calc((100% - var(--lg)) / 2) 100px;
    }
}