.choose{
    padding: 50px 15px;
    &__one{
        & + &{
            margin-top: 25px;
        }
    }
}

@media (min-width: 768px){
    .choose{
        padding: 60px calc((100% - var(--sm)) / 2) 70px;
        &__list{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
        &__one{
            & + &{
                margin-top: 0;
            }
        }
    }
}
@media (min-width: 768px){
    .choose{
        &__header{
            margin-bottom: 40px;
        }
    }
}
@media (min-width: 1024px){
    .choose{
        padding: 100px calc((100% - var(--md)) / 2) 80px;
        &__header{
            @include flex();
            justify-content: space-between;
            margin-bottom: 80px;
        }
    }
}
@media (min-width: 1200px){
    .choose{
        padding: 120px calc((100% - var(--lg)) / 2) 100px;
    }
}

.info-reserve{
    @include flex();
    margin: 20px 0 30px;
    padding: 0 15px;
    &__var{
        position: relative;
        padding-left: 15px;
        font-size: 14px;
        line-height: 20px;
        &::before{
            content: "";
            position: absolute;
            top: 7px;
            left: 0;
            width: 6px;
            height: 6px;
            transform-origin: center center;
            transform: rotate(45deg);
        }

        &--free{
            &::before{
                background-color: $green;
            }
        }
        &--sold{
            &::before{
                background-color: $red;
            }
        }
        &--reserve{
            &::before{
                background-color: $blue;
            }
        }

    }
}
@media (min-width: 1024px){
    .info-reserve{
        margin: 0;
        padding: 0;

        &__var{
            & + &{
                margin-left: 80px;
            }
        }
    }
}

.one-choose{
    position: relative;
    width: 100%;
    max-width: 570px;
    &__info{
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 10;
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
    }
    &__title{
        margin: 0 0 10px;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
    }
    &__btn{
        position: absolute;
        top: 50%;
        right: 15px;
        z-index: 10;
        transform: translate(0, -50%);
        &--prev{
            right: unset;
            left: 15px;
            transform: translate(0, -50%) rotate(180deg)
        }
    }
}
@media (min-width: 1024px){
    .one-choose{
        &__info{
            padding: 30px 35px 0;
            padding-right: 65px;
        }
        &__title{
            margin-bottom: 25px;
            font-size: 26px;
            line-height: 31px;
        }
    }
}
@media (min-width: 1024px){
    .one-choose{}
}
.choose-btn{
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
    &__icon{
        width: 100%;
    }
}
.info-numbers{
    @include flex(row, wrap, flex-start, center);
    gap: 5px;
    &__one{
        position: relative;
        width: 100%;
        height: 100%;
        width: 36px;
        padding-left: 5px;
        padding-right: 10px;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        box-sizing: border-box;
        &.green{
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 35 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2C0 0.895431 0.895431 0 2 0L32.8387 0C34.3072 0 35.2749 1.5297 34.646 2.85664L31.6661 9.14336C31.4091 9.68554 31.4091 10.3145 31.6661 10.8566L34.646 17.1434C35.2749 18.4703 34.3072 20 32.8387 20L2 20C0.895432 20 0 19.1046 0 18L0 2Z' fill='%2306B436'/%3E%3C/svg%3E%0A");
        }
        &.blue{
            background-image: url("data:image/svg+xml,%0A%3Csvg viewBox='0 0 35 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2C0 0.895431 0.895431 0 2 0L32.8387 0C34.3072 0 35.2749 1.5297 34.646 2.85664L31.6661 9.14336C31.4091 9.68554 31.4091 10.3145 31.6661 10.8566L34.646 17.1434C35.2749 18.4703 34.3072 20 32.8387 20L2 20C0.895432 20 0 19.1046 0 18L0 2Z' fill='%23007AFF'/%3E%3C/svg%3E");
        }
        &.red{
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 35 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 2C0 0.895431 0.895431 0 2 0L32.8387 0C34.3072 0 35.2749 1.5297 34.646 2.85664L31.6661 9.14336C31.4091 9.68554 31.4091 10.3145 31.6661 10.8566L34.646 17.1434C35.2749 18.4703 34.3072 20 32.8387 20L2 20C0.895432 20 0 19.1046 0 18L0 2Z' fill='%23B40606'/%3E%3C/svg%3E%0A");
        }
    }
    &__link{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1024px){
    .info-numbers{
        gap: 10px;
        &__one{
            width: 50px;
            padding-left: 7px;
            padding-right: 14px;
            font-size: 16px;
            line-height: 30px;
        }
    }
}