.finish{
    padding: 50px 0;
    &__header{
        padding: 0 15px;
        margin-bottom: 30px;
    }
    &__info{
        margin: 25px 0 0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 25px;
        background-image: url(../images/finish/info-bg.png);
        background-size: contain;
        background-position: center right;
        background-repeat: no-repeat;
        text-align: end;
        font-size: 14px;
        line-height: 24px;
    }
}
@media (min-width: 768px){
    .finish{
        padding: 120px 0;
        &__header{
            @include flex();
            justify-content: flex-start;
            column-gap: 40px;
            padding: 0 calc((100% - var(--sm)) / 2);
        }
    }
}
@media (min-width: 1024px){
    .finish{
        &__header{
            column-gap: 85px;
            margin-bottom: 100px;
            padding: 0 calc((100% - var(--md)) / 2);
        }
        &__info{
            padding: 30px;
            font-size: 18px;
            line-height: 28px;
        }
        &__subtitle{
            font-size: 64px;
            line-height: 100px;
        }
    }
}
@media (min-width: 1200px){
    .finish{
        &__header{
            column-gap: 135px;
            padding: 0 calc((100% - var(--lg)) / 2);
        }
    }
}

.one-finish{
    & + &{
        margin-top: 25px;
    }
    &__descr{
        padding: 0 15px 25px;
        box-sizing: border-box;
    }
    &__title{
        margin: 0 0 15px;
        font-family: $title-font;
        font-weight: normal;
        font-size: 25px;
        line-height: 37px;
    }
    &__text{
        margin: 0;
        font-size: 16px;
        line-height: 24px;
    }
    &__header{
        @include flex(row, nowrap, flex-start, center);
    }
    &__name{
        margin: 0;
        font-family: $title-font;
        font-weight: normal;
        font-size: 35px;
        line-height: 52px;
        color: #007AFF;
        text-transform: uppercase;
    }
    &__number-photos{
        margin-left: 25px;
    }
    &__header{
        margin-top: 10px;
    }
}
@media (min-width: 768px){
    .one-finish{
        @include flex(row, nowrap, center, stretch);
        &__descr{
            @include flex(column, nowrap, center, flex-start);
            padding-left: calc((100% - var(--sm)) / 2);
            padding-right: 20px;
            flex: 50% 1 0;
            width: 50%;
        }
        &__elements{
            flex: 50% 1 0;
            width: 50%;
        }
    }
}
@media (min-width: 1024px){
    .one-finish{
        & + &{
            margin-top: 100px;
        }
        &__descr{
            padding-top: 20px;
            padding-left: calc((100% - var(--md)) / 2);
            padding-right: 45px;
        }
        &__title{
            margin-bottom: 25px;
            font-size: 45px;
            line-height: 66px;
        }
        &__text{
            font-size: 20px;
            line-height: 34px;
        }
        &__header{
            margin-top: auto;
        }
        &__name{
            font-size: 45px;
            line-height: 66px;
        }
    }
}
@media (min-width: 1200px){
    .one-finish{
        &__descr{
            // padding-top: 140px;
            // padding-bottom: 135px;
            padding-left: calc((100% - var(--lg)) / 2);
            padding-right: 85px;
        }
    }
}
@media (min-width: 1440px){
    .one-finish{
    }
}
.photos-number{
    position: relative;
    opacity: 0.8;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: -10px;
        width: 1px;
        height: 34px;
        background: $text-color;
        opacity: 0.8;
        transform: rotate(15deg);
    }
    &__number{
        font-size: 22px;
        line-height: 26px;
    }
    &__text{
        font-size: 10px;
        line-height: 12px;
    }
}
