@font-face {
    font-family: 'Museo Sans Cyrl 700';
    src: url('fonts/MuseoSansCyrl-700.woff2') format('woff2'),
        url('fonts/MuseoSansCyrl-700.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('fonts/MuseoSansCyrl-500.woff2') format('woff2'),
        url('fonts/MuseoSansCyrl-500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('fonts/MuseoSansCyrl-300.woff2') format('woff2'),
        url('fonts/MuseoSansCyrl-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('fonts/MuseoSansCyrl-900.woff2') format('woff2'),
        url('fonts/MuseoSansCyrl-900.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neumann';
    src: url('fonts/Neumann.woff2') format('woff2'),
        url('fonts/Neumann.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

