.footer{
    padding: 20px 15px;
    background-color: #00004A;
}
@media (min-width: 768px){
    .footer{
        padding-top: 45px;
        padding-bottom: 45px;
        padding-left: calc((100% - var(--sm)) / 2);
        padding-right: calc((100% - var(--sm)) / 2);
    }
}
@media (min-width: 1024px){
    .footer{
        padding-left: calc((100% - var(--md)) / 2);
        padding-right: calc((100% - var(--md)) / 2);
    }
}
@media (min-width: 1200px){
    .footer{
        padding-left: calc((100% - var(--lg)) / 2);
        padding-right: calc((100% - var(--lg)) / 2);
    }
}

