.form{
    &__input{
        display: block;
        width: 100%;
        margin-bottom: 10px;
        background: #F5F5F5;
        padding: 20px 30px;
        border-radius: 220px;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #000;
        border: none;
        box-sizing: border-box;

        &::placeholder{
            color: #A0A0A0;
        }
    }
    &__privacy{
        margin-top: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        color: rgba(40, 41, 46, 0.7);
    }
    &__link-privacy{
        display: block;
        width: fit-content;
        margin: 0 auto;
        text-align: center;
        color: inherit;
        @include trans;
        &:hover{
            color: #E9C878;
        }
    }
}