.header{
    padding: 20px 15px 0;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .header{
        padding-top: 25px;
        padding-left: calc((100% - var(--sm)) / 2);
        padding-right: calc((100% - var(--sm)) / 2);
    }
}
@media (min-width: 1024px){
    .header{
        padding-left: calc((100% - var(--md)) / 2);
        padding-right: calc((100% - var(--md)) / 2);
    }
}
@media (min-width: 1200px){
    .header{
        padding-left: calc((100% - var(--lg)) / 2);
        padding-right: calc((100% - var(--lg)) / 2);
    }
}
