.head{
    &__main{
        font-family: $title-font;
        font-size: 26px;
        line-height: 38px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none
    }
    &__social{
        margin-top: 15px;
    }
    &__contacts{
        margin-top: 20px;
    }
}

@media (min-width: 768px){
    .head{
        @include flex(row, nowrap, space-between, center);
        &__main{
            font-size: 24px;
            line-height: 32px;
        }
        &__contacts{
            text-align: end;
        }
        &__social{
            margin-top: 0;;
        }
        &__contacts{
            margin-top: 0;
        }
    }
}
@media (min-width: 1024px){
    .head{
        &__main{
            font-size: 28px;
            line-height: 41px;
        }
    }
}
.head-social{
    @include flex(row, nowrap, flex-start, center);
    &__link{
        @include flex();
        width: 30px;
        height: 30px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 3px;
        @include trans();   
        &:hover{
            // border-color: #fff;;
            .head-social__icon{
                transform: scale(1.3);
            }
        }
        & + &{
            margin-left: 5px;;
        }
        
    }
    &__icon{
        width: 15px;
        height: 15px;
        text-align: center;
        @include trans();
        img {
            width: auto;
            height: 100%;
        }
    }
}

@media (min-width: 1024px){
    .head-social{
        &__link{
            width: 40px;
            height: 40px;
            & + &{
                margin-left: 10px;
            }
        }
        &__icon{
            width: 20px;
            height: 20px;
        }
    }
}

.head-contacts{
    &__quest{
        margin: 0;;
        font-size: 14px;
        line-height: 17px;
        color: #fff;
        &--marked{
            font-weight: 600;
            color: #E9C878;
        }
    }
    &__phone{
        display: block;
        margin-top: 3px;
        font-size: 24px;
        line-height: 29px;
        color: #fff;
        text-decoration: none;
        @include trans();
        &:hover{
            color: #E9C878;
        }
    }
    &__work-time{
        position: relative;
        margin: 3px 0 0;
        font-size: 14px;
        line-height: 17px;
        color: #fff;
        &::before{
            content: "";
            display: inline-block;
            margin-right: 5px;
            width: 5px;
            height: 5px;
            background-color: #14BE5C;
            border-radius: 50%;
            vertical-align: middle;
        }
    }
}

@media (min-width: 768px){
    .head-contacts{
        &__quest{
            font-size: 14px;
            line-height: 17px;
        }
        &__phone{
            margin-top: 5px;
            font-size: 22px;
            line-height: 26px;
        }
        &__work-time{
            margin-top: 5px;
            font-size: 14px;
            line-height: 17px;
            &::before{
                margin-right: 10px;
            }
        }
    }
}
@media (min-width: 1024px){
    .head-contacts{
        &__quest{
            font-size: 16px;
            line-height: 19px;
        }
        &__phone{
            font-size: 26px;
            line-height: 31px;
        }
        &__work-time{
            font-size: 16px;
            line-height: 19px;
        }
    }
}