.houses{
    padding: 50px 15px;
    &__project{
        & + &{
            margin-top: 25px;
        }
    }
}
@media (min-width: 768px){
    .houses{
        padding: 60px calc((100% - var(--sm)) / 2);
        &__project{
            & + &{
                margin-top: 35px;
            }
        }
    }
}
@media (min-width: 1024px){
    .houses{
        padding: 80px calc((100% - var(--md)) / 2);
        &__project{
            & + &{
                margin-top: 50px;
            }
        }
    }
}
@media (min-width: 1200px){
    .houses{
        padding: 120px calc((100% - var(--lg)) / 2);
    }
}

.project-one{
    display: grid;
    grid-template-areas: "main main" "photo photo" "small1 small2";
    grid-gap: 5px;
    &__main{
        grid-area: main;
        position: relative;
    }
    &__photo{
        grid-area: photo;
        &--small1{
            grid-area: small1;
        }
        &--small2{
            grid-area: small2;
        }
    }
    &__info{
        position: absolute;
        top: 20px;
        left: 20px;
        max-width: 100%;
        z-index: 5;
    }
    &__title{
        margin: 0 0 5px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
    }
    &__price{
        margin: 0;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
        text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
    }
}
@media (min-width: 1024px){
    .project-one{
        grid-template-areas: "main main photo photo" "main main small1 small2";
        &__title{
            margin-bottom: 15px;
            font-size: 26px;
            line-height: 31px;
        }
        &__price{
            font-size: 36px;
            line-height: 43px;
        }
    }
}
@media (min-width: 1200px){
    .project-one{
        grid-gap: 10px;
    }
}