.information{
    background-image: url(../images/photos-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.info-slider{
    &__descr{
        padding: 50px 15px 40px;
        box-sizing: border-box;
    }
    &__title{
        margin: 0 0 15px;
        font-family: $title-font;
        font-weight: normal;
        font-size: 35px;
        line-height: 52px;
    }
    &__text{
        margin: 0;
        font-size: 16px;
        line-height: 24px;
    }
    &__btns{
        @include flex(row, nowrap, flex-start, center);
        column-gap: 15px;
        margin-top: 20px;
    }
    &__element{
        display: block;
    }
}

@media (min-width: 768px){
    .info-slider{
        @include flex(row, nowrap, center, stretch);
        &__descr{
            @include flex(column, nowrap, center, flex-start);
            padding-left: calc((100% - var(--sm)) / 2);
            flex: 50% 1 0;
            width: 50%;
        }
        &--reverse{
            flex-direction: row-reverse;
            .info-slider__descr{
                padding-right: calc((100% - var(--sm)) / 2);
                
            }
        }
        &__elements{
            flex: 50% 1 0;
            width: 50%;
        }
    }
}
@media (min-width: 1024px){
    .info-slider{
        &__descr{
            padding-left: calc((100% - var(--md)) / 2);
        }
        &--reverse{
            .info-slider__descr{
                padding-right: calc((100% - var(--md)) / 2);
                
            }
            
        }
    }
}
@media (min-width: 1200px){
    .info-slider{
        &__descr{
            // padding-top: 140px;
            // padding-bottom: 135px;
            padding-left: calc((100% - var(--lg)) / 2);
            padding-right: 0;
        }
        &--reverse{
            .info-slider__descr{
                padding-left: 115px;
                padding-right: calc((100% - var(--lg)) / 2);
                
            }
            .info-slider__title{
                max-width: 470px;
            }
            .info-slider__text{
                max-width: 470px;
            }
        }
        &__title{
            font-size: 45px;
            line-height: 66px;
        }
        &__text{
            max-width: 370px;
            font-size: 20px;
            line-height: 34px;
        }
        &__btns{
            margin-top: 30px;
        }
    }
}
@media (min-width: 1440px){
    .info-slider{
        &__btns{
            margin-top: 60px;
        }
    }
}
.info-btn{
    padding: 0;
    background-color: transparent;
    border: none;
    line-height: 0;
    &.slick-disabled{
        opacity: 0.3;
    }
    &:active{
        filter: brightness(0.8);
    }
    &--prev{
        transform-origin: center center;
        transform: rotate(180deg);
    }
    &__icon{
        width: 40px;
        img{
            width: 100%;
        }
    }
}