.main{
    background-image: url(../images/main-bg.jpg);
    background-position: center center;
    background-size: cover;

    padding-bottom: 80px;
    &__info{
        margin-top: 40px;
        padding: 0 15px;
    }
    &__add{
        margin-top: 25px;
        padding: 0 15px;
    }
    &__watch{
        margin-top: 80px;
        margin-left: auto;

    }
}
@media (min-width: 768px){
    .main{
        background-image: url(../images//main-bg.jpg);
        padding: 0 calc((100% - var(--sm)) / 2) 80px;
        &__info{
            padding: 0;
        }
        &__add{
            @include flex(row, nowrap, space-between, flex-start);
            margin-top: 50px;
            padding: 0;
        }
        &__watch{
            margin-top: 0;
            margin-left: 0;
        }
    }
}
@media (min-width: 1024px){
    .main{
        padding: 0 calc((100% - var(--md)) / 2) 180px;
        &__info{
            margin-top: 80px;
        }
    }
}
@media (min-width: 1200px){
    .main{
        padding: 0 calc((100% - var(--lg)) / 2) 220px;
        &__info{
            margin-top: 100px;
        }
    }
}

.main-title{
    margin: 0;
    font-family: $title-font;
    font-size: 25px;
    line-height: 37px;
    font-weight: normal;
    color: #fff;
    &__gradient{
        display: block;
        margin-bottom: 10px;
        font-size: 45px;
        line-height: 66px;
        text-transform: uppercase;
        background: linear-gradient(90.55deg, #FFFFFF 0.22%, #E9C878 99.81%);
        background-clip: text;
        -webkit-text-fill-color: transparent;      
    }
    &__price{
        display: block;
        width: fit-content;
        margin-top: 15px;
        padding: 13px 15px;
        padding-right: 30px;
        font-family: $main-font;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        background-image: url(../images/price-bg.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
@media (min-width: 1024px){
    .main-title{
        &__price{

            display: inline-block;
            margin-top: 0;
            margin-left: 10px;
            vertical-align: super;
        }
    }
}
@media (min-width: 1200px){
    .main-title{
        font-size: 45px;
        line-height: 66px;
        &__gradient{
            font-size: 68px;
            line-height: 100px;
        }
    }
}


.watch{
    position: relative;
    width: 180px;
    padding: 30px;
    padding-right: 38px;
    background: rgba(55, 102, 204, 0.5);
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    &__text{
        margin: 0;
        font-size: 16px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.8);
    }
    &__link{
        display: block;
        margin-top: 5px;
        width: fit-content;
        color: #E9C878;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        @include trans;
        &:hover{
            text-decoration: none;;
        }
    }
    &__icon{
        position: absolute;
        top: -35px;
        left: -35px;
        width: 70px;
        height: 70px;
        filter: drop-shadow(20px 10px 50px rgba(233, 200, 120, 1));
        img{
            width: 100%;
            height: 100%;
        }
    }
}

@media (min-width: 768px){
    .watch{
        width: 250px;
        padding: 40px;
        padding-right: 70px;
        &__icon{
            width: 100px;
            height: 100px;
            top: -50px;
            left: -50px;
        }
        &__text{
            font-size: 20px;
            line-height: 28px;
        }
        &__link{
            margin-top: 20px;
            font-size: 18px;
            line-height: 26px;
        }
    }
}