.make{
    padding: 50px 15px;
    &__one{
        margin-top: 40px;
    }
}
@media (min-width: 768px){
    .make{
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: calc((100% - var(--sm)) / 2);
        padding-right: calc((100% - var(--sm)) / 2);
        &__one{
            margin-top: 80px;
        }
    }
}
@media (min-width: 1024px){
    .make{
        padding-top: 90px;
        padding-bottom: 90px;
        padding-left: calc((100% - var(--md)) / 2);
        padding-right: calc((100% - var(--md)) / 2);
        &__one{
            margin-top: 80px;
        }
    }
}
@media (min-width: 1200px){
    .make{
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: calc((100% - var(--lg)) / 2);
        padding-right: calc((100% - var(--lg)) / 2);
        &__one{
            margin-top: 100px;
        }
    }
}

.one-make{
    &__description{
        margin-bottom: 15px;
    }
    &__title{
        margin: 0 0 10px;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        color: #28292E;
    }
    &__text{
        margin: 0;
        font-size: 16px;
        line-height: 24px;
        color: #28292E;
    }
    &__preview{
        display: block;
        img{
            width: 100%;
        }
    }
    &__list{
        margin: 10px 0 0;
        padding: 0;
        list-style-position: inside;
    }
    &__item{
        padding-left: 15px;
        font-size: 14px;
        line-height: 24px;
    }
}
@media (min-width: 768px){
    .one-make{
        @include flex();
        align-items: flex-start;
        column-gap: 30px;
        flex-direction: row-reverse;
        &:nth-child(odd){
            flex-direction: row;
        }
        &__description{
            flex: 370px 1 0;
            margin-bottom: 0;
            padding-top: 10px;
        }
        &__preview{
            flex: 55% 1 0;
        }
        &__title{
            margin-bottom: 25px;
            font-size: 30px;
            line-height: 42px;
        }
        &__text{
            font-size: 20px;
            line-height: 34px;
        }
    }
}
@media (min-width: 1200px){
    .one-make{
        column-gap: 100px;
        &__description{
            padding-top: 20px;
            flex-basis: 370xp;
        }
    }
}
