.map{
    position: relative;
    width: 100%;
    height: 450px;
    &__title{
        position: absolute;
        top: 40px;
        left: 0;
        padding: 10px 15px;
        background-color: #fff;
    }
    iframe{
        width: 100%;
        height: 100%;
        pointer-events: none;
        &.map--scroll{
                pointer-events: all;
        }
    }
}
@media (min-width: 768px){
    .map{
        &__title{
            top: 55px;
            left: calc((100% - var(--sm)) / 2);
        }
    }
}
@media (min-width: 1024px){
    .map{
        height: 750px;
        &__title{
            top: 65px;
            left: calc((100% - var(--md)) / 2);
        }
    }
}
@media (min-width: 1200px){
    .map{
        &__title{
            top: 85px;
            left: calc((100% - var(--lg)) / 2);
        }
    }
}
