.modal-video{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: none;
    animation: fadeIn 0.5s;
    &--open{
        @include flex($justify: center);
    }
}
.modal{
    &__dark{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }
    &__content{
        z-index: 5;
        max-width: 90%;
        width: 800px;
    }
    &__video-wrap{
        position: relative;
        padding-bottom: 47%;
    }
    &__video{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}