.one{
    padding-bottom: 50px;
    background-color: #F5F5F5;
    .header{
        padding-bottom: 20px;
        background-color: $dark;
    }
    &__descr{
        padding: 0 15px 50px;
    }
}
@media (min-width: 768px){
    .one{
        padding: 0 calc((100% - var(--sm)) / 2) 100px;
        background-color: $one-bg;
        .header{
            background-color: unset;
        }
        &__descr{
            padding-left: 0;
            padding-right: 0;
        }
    }
}
@media (min-width: 1024px){
    .one{
        padding: 0 calc((100% - var(--md)) / 2) 100px;
    }
}
@media (min-width: 1200px){
    .one{
        padding: 0px calc((100% - var(--lg)) / 2) 120px
    }
}
.one-description{
    &__chars{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }
    &__special{
        margin-top: 30px;
        margin-bottom: 35px;
    }     
}
@media (min-width: 1024px){
    .one-description{
        display: grid;
        grid-template-areas: "title chars" "btn chars";
        grid-template-columns: 1fr 1fr;
        &__info{
            max-width: 370px;
        }
        &__chars{
            grid-area: chars;
            column-gap: 30px;
            row-gap: 40px;
        }
        &__title{
            grid-area: title;
            max-width: 90%;
        }
        &__btn{
            grid-area: btn;
        }
    }
}
.char-one{
    &__name{
        margin: 0;
        font-size: 12px;
        line-height: 14px;
    }
    &__val{
        margin: 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
}
@media (min-width: 768px){
    .char-one{
        &__name{
            color: rgba(255, 255, 255, 0.7);
        }
        &__val{
            color: #fff;
        }
    }
}
@media (min-width: 1024px){
    .char-one{

        &__name{
            font-size: 14px;
            line-height: 17px;
        }
        &__val{
            font-size: 24px;
            line-height: 29px;
        }
    }
}

.special{
    @include flex(row, nowrap, center, stretch);
    border: 1px solid $blue;
    box-sizing: border-box;
    border-radius: 4px;
    &__text{
        @include flex(row, nowrap, center, center);
        padding: 10px 0;
        flex: 50% 1 0;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 2;
        text-transform: uppercase;
        color: $blue;
        box-sizing: border-box
    }
    &__finish{
        @include flex(row, nowrap, center, center);
        column-gap: 8px;
        flex: 50% 1 0;
        padding: 10px 0;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        border-radius: 4px;
        background-color: $blue;
        box-sizing: border-box
    }
    &__icon{
        width: 20px;
    }
}
@media (min-width: 768px){
    .special{
        border-color: #fff;
        &__text{
            color: rgba(255, 255, 255, 0.7);
        }
        &__finish{
            color: $dark;
            background-color: #fff;
        }
    }
}
@media (min-width: 1024px){
    .special{
        &__text{
            padding-left: 20px;
            justify-content: flex-start;
            font-size: 14px;
            line-height: 17px;
        }
        &__finish{
            padding: 10px;
            padding-left: 20px;
            justify-content: flex-start;
            font-size: 20px;
            line-height: 24px;
        }
    }
}

.info-house{
    &__preview{
        display: block;
    }
    &__floors{
        @include flex(row, nowrap, center, center);
        padding: 40px 0;
        column-gap: 20px;
    }
    &__floor-preview{
        padding: 0 15px;
    }
    &__pluses{
        margin-top: 40px;
        padding: 0 15px;
    }
}
@media (min-width: 1024px){
    .info-house{
        &__chars{
            @include flex();
            column-gap: 60px;
            margin-top: 80px;
        }
        &__floor-preview{
            flex-grow: 1;
        }
        &__floors{
            flex-direction: column;
            row-gap: 25px;
            padding-left: 50px;
        }
        &__pluses{
            max-width: 170px;
        }
    }
}
@media (min-width: 1200px){
    .info-house{
        &__chars{
            margin-top: 120px;
        }
        &__floors{
            padding-left: 70px;
        }

    }
}

.floor-btn{
    @include flex(column, nowrap, center, center);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-transform: uppercase;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: transparent;
    @include trans;
    &__number{
        font-family: $title-font;
        font-weight: normal;
        font-size: 30px;
        line-height: 40px;
    }
    &:hover{
        border-color: $blue;
        background-color: $blue;
        color: #fff;
        opacity: 0.5;

    }
    &--active{
        border-color: $blue;
        background-color: $blue;
        color: #fff;
    }
}
@media (min-width: 768px){
    .floor-btn{
        color: #fff;
        border-color: #fff;
        &:hover{
            opacity: 1;
        }
        &:hover,
        &--active{
            border-color: rgba(255, 255, 255, 0.3);
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}
@media (min-width: 1024px){
    .floor-btn{}
}
.one-plus{
    @include flex(row, nowrap, flex-start, center);
    column-gap: 35px;
    & + &{
        margin-top: 30px;
    }
    &__icon{
        width: 50px;
    }
    &__name{
        font-family: $title-font;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        text-transform: uppercase;
        color: $blue;
    }
}
@media (min-width: 768px){
    .one-plus{
        &__name{
            color: #fff;
        }
    }
}
@media (min-width: 1024px){
    .one-plus{
        flex-flow: column;
        &__icon{
            width: 60px;;
        }
        &__name{
            margin-top: 20px;
            color: #fff;
            text-align: center;
        }
    }
}
