.personal{
    padding: 50px 15px;
    background-color: #fff;
    &__bg{
        display: none;
        img{
            width: 100%;
        }
    }
    &__subtitle{
        margin: 0 0 10px;
        font-weight: bold;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        color: #28292E;
    }
    &__text{
        margin: 0 0 20px;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: rgba(40, 41, 46, 0.8);
        br{
            display: none;
        }
    }
    &__form{
        position: relative;
        z-index: 5;
    }
}
@media (min-width: 1024px) {
    .personal{
        &-con{
            position: relative;
        }
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        @include flex(row, nowrap, space-between);
        column-gap: 30px;
        width: calc(100% - 100px);
        margin-top: -140px;
        // margin-right: 100px;
        padding: 55px;
        // padding-left: 440px;
        // padding-right: 85px;
        border-radius: 0px 15px 15px 0px;
        box-sizing: border-box;
        &::after{
            content: "";
            position: absolute;
            top: 10px;
            right: 10px;
            width: calc(100% - 10px);
            height: calc(100% - 20px);
            border: 1px solid #F0F0F0;
            box-sizing: border-box;
            border-radius: 0px 15px 15px 0px;
        }
        &__bg{
            // display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            align-self: flex-end;
        }
        &__info{
            max-width: 510px;
        }
        &__subtitle{
            position: relative;
            max-width: 410px;
            text-align: start;
            font-size: 26px;
            line-height: 34px;
            &::before{
                content: "";
                position: absolute;
                left: -50px;
                top: 16px;
                width: 40px;
                height: 2px;
                background: linear-gradient(90deg, rgba(233, 200, 120, 0.05) 0%, #E9C878 100%);
                border-radius: 20px;
            }
        }
        &__text{
            text-align: start;
            font-size: 20px;
            line-height: 30px;
            br{
                display: inline;
            }
        }
        &__form{
            flex-shrink: 0;
            max-width: 370px;
        }
    }
    
}
@media (min-width: 1200px){
    .personal{
        // padding-left: 440px;
        padding-left: 220px;
        &__bg{
            display: block;
            // width: 120px;
            opacity: 0.3;

        }
    }
}
@media (min-width: 1200px){
    .personal{

    }
}
@media (min-width: 1440px){
    .personal{
        padding-left: 440px;
        &__bg{
            opacity: 1;
        }
    }
}
