.photos{
    padding: 50px 15px;
    background-image: url(../images/photos-bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    &__con{
        display: grid;
        grid-template-areas: "long long small" "tall small2 small3" "tall long2 long2";
        grid-gap: 3px;
        margin-top: 40px;

    }
    &__one{
        &--long{
            grid-area: long;
        }
        &--small{
            grid-area: small;
        }
        &--tall{
            grid-area: tall;
        }
        &--small2{
            grid-area: small2;
        }
        &--small3{
            grid-area: small3;
        }
        &--long2{
            grid-area: long2;
        }
    }
}
@media (min-width: 768px){
    .photos{
        padding: 70px calc((100% - var(--sm)) / 2);
        &__con{
            margin-top: 50px;
        }

    }
}
@media (min-width: 1024px){
    .photos{
        padding: 90px calc((100% - var(--md)) / 2);
        &__con{
            margin-top: 60px;
        }

    }
}
@media (min-width: 1200px){
    .photos{
        padding: 120px calc((100% - var(--lg)) / 2);
        &__con{
            margin-top: 80px;
        }
    }
}
