.plan{
    position: relative;
    &__schema{
        overflow-y: scroll;
    }
    &__sale{
        position: absolute;
        top: 0;
        left: 15px;
        z-index: 11;
    }
    &__info{
        margin-top: 20px;
        justify-content: center;
        gap: 2%;
    }
}
@media (min-width: 768px){
    .plan{
        &__sale{
            left: unset;
            right: calc((100% - var(--sm)) / 2);
            border-radius: 0px 0px 10px 10px;
        }
        &__info{
            margin-top: 30px;
        }
    }
}
@media (min-width: 1024px){
    .plan{
        &__schema{
            overflow: visible;
        }
        &__sale{
            right: calc((100% - var(--md)) / 2);
        }
        &__info{
            margin-top: 40px;
        }
    }
}
@media (min-width: 1200px){
    .plan{
        &__sale{
            right: calc((100% - var(--lg)) / 2);
        }
    }
}

.sale{
    padding: 12px 15px;
    border-radius: 0px 0px 10px 10px;
    background: rgba(6, 180, 54, 0.5);
    &__info{
        font-size: 14px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.8);
    }
    &__procent{
        font-weight: 600;
        font-size: 40px;
        line-height: 40px;
        color: #E9C878;
    }
    &__icon{
        position: absolute;
        bottom: -35px;
        right: -35px;
        width: 70px;
    }
}
@media (min-width: 768px){}
@media (min-width: 1024px){
    .sale{
        padding: 30px 35px 50px;
        &__info{
            font-size: 20px;
            line-height: 28px;
        }
        &__procent{
            font-size: 58px;
            line-height: 58px;
        }
        &__icon{
            top: unset;
            bottom: -50px;
            right: -50px;
            width: 100px;
        }
    }
}
.schema{
    position: relative;
    // z-index: 10;
    width: 100%;
    min-width: 1200px;
    max-width: 1540px;
    margin: 0 auto;
    &__photo{
        display: block;
    }
    &__point{
        position: absolute;
        // z-index: 10;
        &:hover{
            .schema-info{
                display: block;
            }
        }
        &[data-number="1"]{
            bottom: 19%;
            left: 7%;
            z-index: 16;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="2"]{
            bottom: 19%;
            left: 18%;
            z-index: 16;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="3"]{
            bottom: 19%;
            left: 27%;
            z-index: 16;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="4"]{
            bottom: 19%;
            left: 36%;
            z-index: 16;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="5"]{
            bottom: 19%;
            left: 46%;
            z-index: 16;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="6"]{
            bottom: 19%;
            left: 53%;
            z-index: 16;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="7"]{
            bottom: 19%;
            left: 64%;
            z-index: 16;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="8"]{
            bottom: 19%;
            left: 72%;
            z-index: 16;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="9"]{
            bottom: 19%;
            left: 81%;
            z-index: 16;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="10"]{
            bottom: 19%;
            left: 90%;
            z-index: 16;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="11"]{
            bottom: 42%;
            left: 13%;
            z-index: 15;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="12"]{
            bottom: 42%;
            left: 27%;
            z-index: 15;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="13"]{
            bottom: 38%;
            left: 36%;
            z-index: 15;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="14"]{
            bottom: 38%;
            left: 50%;
            z-index: 15;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="15"]{
            bottom: 40%;
            left: 62%;
            z-index: 15;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="16"]{
            bottom: 40%;
            left: 74%;
            z-index: 15;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="17"]{
            bottom: 40%;
            left: 83%;
            z-index: 15;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="18"]{
            bottom: 52%;
            left: 14%;
            z-index: 14;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="19"]{
            bottom: 53%;
            left: 28%;
            z-index: 14;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="20"]{
            bottom: 50%;
            left: 36%;
            z-index: 14;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="21"]{
            bottom: 52%;
            left: 49%;
            z-index: 14;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="22"]{
            bottom: 57%;
            left: 63%;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="23"]{
            bottom: 54%;
            left: 73%;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="24"]{
            bottom: 63%;
            left: 16%;
            z-index: 13;
            // .schema-info{
                //     left: 20%;
                // }
            }
        &[data-number="25"]{
            bottom: 61%;
            left: 28%;
            z-index: 13;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="26"]{
            bottom: 61%;
            left: 37%;
            z-index: 13;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="27"]{
            bottom: 60%;
            left: 49%;
            z-index: 13;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="28"]{
            bottom: 72%;
            left: 18%;
            z-index: 12;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="29"]{
            bottom: 70%;
            left: 29%;
            z-index: 12;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="30"]{
            bottom: 71%;
            left: 36%;
            z-index: 12;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="31"]{
            bottom: 72%;
            left: 44%;
            z-index: 12;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="32"]{
            bottom: 68%;
            left: 50%;
            z-index: 12;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="33"]{
            bottom: 82%;
            left: 17%;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="34"]{
            bottom: 82%;
            left: 24%;
            // .schema-info{
            //     left: 20%;
            // }
        }
        &[data-number="35"]{
            bottom: 78%;
            left: 31%;
            // .schema-info{
            //     left: 20%;
            // }
        }
    }
    &__number{
        display: block;
        @extend .info-numbers__one;
        text-decoration: none;
    }
}
@media (max-width: 1024px){
    .schema{
        &__point{
            &[data-number="22"],
            &[data-number="27"],
            &[data-number="30"],
            &[data-number="31"],
            &[data-number="32"],
            &[data-number="33"],
            &[data-number="34"],
            &[data-number="35"]{
                z-index: 20;
                .schema-point__tooltip{
                    top: calc(100% + 30px);
                    z-index: 100;
                    
                }
            }
        }
    }
}
.schema-info{
    display: none;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    z-index: 20;
    transform: translate(-50%, 0);
    width: 170px;
    padding: 35px 20px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    // &::after{
    //     content: "";
    //     position: absolute;
    //     bottom: -10px;
    //     left: 0;
    //     display: block;
    //     width: 100%;
    //     height: 10px;
    // }
    &__link{
        position: absolute;
        top: 0;
        left: 0;
        // bottom: 0;
        right: 0;
        z-index: 5;
        width: 100%;
        height: calc(100% + 10px);
    }
    &__number{
        position: absolute;
        top: -15px;
        left: 50%;
        transform: translate(-50%, 0%);
        @include flex(row, nowrap, center, center);
        width: 30px;
        height: 30px;
        text-align: center;
        font-weight: bold;
        font-size: 9px;
        vertical-align: middle;
        color: #fff;
        border-radius: 50%;
    }
    &__title{
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
    }
    &__char{
        margin-bottom: 10px;
        font-size: 12px;
        line-height: 14px;
    }
    &__val{
        font-size: 14px;
        line-height: 17px;
        &--price{
            font-weight: 600;
        }
    }
    &.green{
        .schema-info__number{
            background-color: $green;
        }
        .schema-info__title{
            color: $green;
        }
    }
    &.blue{
        .schema-info__number{
            background-color: $blue;
        }
        .schema-info__title{
            color: $blue;
        }
    }
    &.red{
        .schema-info__number{
            background-color: $red;
        }
        .schema-info__title{
            color: $red;
        }
    }

}