.thanks{
    @include flex(column, nowrap, flex-start, flex-start);
    height: 100vh;
    .header{
        width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;
        background-color: #00004A;
    }
    &__content{
        @include flex(column, nowrap, center, center);
        width: 100%;
        flex-grow: 1;
        background-color: #F5F5F5;
    }
    &__icon{
        width: 30%;
        max-width: 120px;
    }
    &__title{
        margin-bottom: 20px;
        font-family: $title-font;
        text-align: center;
        font-weight: normal;
    }
    &__text{
        width: 80%;
        margin: 0;
        text-align: center;
        &--marked{
            font-weight: 600;
            color: #E9C878;
        }
        & + &{
            margin-top: 15px;
        }
    }
    &__link{
        margin-top: 25px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        color: #28292E;
        @include trans;
        &:hover{
            color: #E9C878;
        }
    }
}
@media (min-width: 768px){
    .thanks{
        .header{
        }
        &__title{
            margin: 30px 0 40px;
            font-size: 68px;
            line-height: 100px;
        }
        &__text{
            max-width: 570px;
            font-size: 26px;
            line-height: 36px;
        }
        &__link{
            margin-top: 30px;
            font-size: 34px;
            line-height: 36px;
        }
    }
}