.subtitle{
    margin: 0;
    font-family: $title-font;
    font-weight: normal;
    font-size: 35px;
    line-height: 52px;
    text-align: center;
    color: $text-color;
    &--ben{
        display: block;
        font-size: 25px;
        line-height: 37px;
    }
}

@media (min-width: 1024px){
    .subtitle{
        font-size: 68px;
        line-height: 100px;
        &--ben{
            font-size: 45px;
            line-height: 66px;
        }
    }
}

.title-one{
    margin: 0 0 20px;
    font-family: $title-font;
    font-weight: normal;
    font-size: 35px;
    line-height: 52px;
    color: $blue;
}
@media (min-width: 768px){
    .title-one{
        font-size: 45px;
        line-height: 66px;
        color: #FFFFFF;
    }
}