$title-font: Neumann;
$main-font: MuseoSans;
$text-color: #28292E;
$blue: #007AFF;
$red: #B40606;
$green:#06B436;
$dark: #00004A;
$one-bg: #333352;

:root{
    --sm: 728px;
    --md: 984px;
    --lg: 1170px;
}

@mixin flex($direction:row, $wrap: nowrap, $justify:space-around, $align:center){
	display: flex;
	flex-flow: $direction $wrap;
	justify-content: $justify;
	align-items: $align;
}

@mixin trans{
    transition: 0.3s ease-in;
}