.walk{
    padding: 50px 0px;
    &__header{
        padding: 0 15px;
    }
    &__btn{
        display: block;
        width: fit-content;
        margin: 15px auto;
        padding: 20px 40px;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        border-radius: 220px;
        border: 2px solid #E9C878;
        background-color: transparent;
    }
}
@media (min-width: 768px){
    .walk{
        padding: 70px calc((100% - var(--sm)) / 2);
    }
}
@media (min-width: 1024px){
    .walk{
        padding: 90px 0;
        padding-right: 0;
        &__header{
            @include flex(row, nowrap, space-between, center);
            padding-left: calc((100% - var(--md)) / 2);
            padding-right: calc((100% - var(--md)) / 2);
        }
        &__slider{
            padding-left: calc((100% - var(--md)) / 2);
            margin-top: 100px;
        }
        &__btn{
            margin: 0;
            padding: 25px 0;
            width: 270px;
            font-size: 14px;
            line-height: 17px;
        }
    }
}
@media (min-width: 1200px){
    .walk{
        padding: 120px 0;
        padding-right: 0;
        &__header{
            padding-left: calc((100% - var(--lg)) / 2);
            padding-right: calc((100% - var(--lg)) / 2);
        }
        &__slider{
            padding-left: calc((100% - var(--lg)) / 2);
        }
    }
}

.walk-slider{
    &__elements{
        margin-top: 40px;
    }   
    &__info{
        margin-top: 20px;
        padding: 0 15px;
    }
    &__btns{
        @include flex();
    }
    &__title{
        margin: 0 0 25px;
        font-weight: normal;
        font-family: $title-font;
        font-size: 25px;
        line-height: 37px;
        text-align: center;
        text-transform: uppercase;
    }
    &__dots{
        @include flex(row, nowrap, center, center);
        column-gap: 6px;
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            @include flex(row, nowrap, center, center);
        }
        .slick-active{
            button{
                width: 10px;
                height: 10px;
                background-color: $blue;
            }
        }
        button{
            padding: 0;
            width: 6px;
            height: 6px;
            font-size: 0;
            color: transparent;
            border-radius: 50%;
            background-color: #000;
        }
    }
}
@media (min-width: 1024px){
    .walk-slider{
        @include flex(row-reverse, nowrap, space-between, stretch);
        column-gap: 70px;
        &__elements{
            // width: calc(100% - 245px);
            flex-grow: 1;
            margin-top: 0;
            max-width: 700px;
        }
        &__info{
            @include flex(column, nowrap, space-between, flex-start);
            flex: auto 0 0;
            margin: 0;
            padding: 20px 0;
        }
        &__title{
            width: min-content;
            font-size: 45px;
            line-height: 66px;
            text-align: start;
        }
        &__btns{
            width: 100%;
            max-width: 200px;
            justify-content: space-between;
        }

    }
}
@media (min-width: 1200px){
    .walk-slider{
        column-gap: 130px;
        &__elements{
            max-width: 860px;
        }
    }
}
@media (min-width: 1520px){
    .walk-slider{
        &__elements{
            max-width: 955px;
        }
    }
}