.white-block{
    padding: 50px 15px;
    background-color: $blue;
    &__title{
        color: #fff;
        text-align: start;
    }
    &__list{
        margin: 20px 0 30px;
        padding: 0;
        list-style-position: inside;
        list-style: none;
    }
    &__item{
        position: relative;
        padding-left: 15px;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        box-sizing: border-box;
        &::before{
            content: "";
            position: absolute;
            top: 9px;
            left: 0;
            width: 5px;
            height: 5px;
            background: rgba(255, 255, 255, 0.6);
            border-radius: 50%;
        }
        & + &{
            margin-top: 5px;
        }
    }
}
@media (min-width: 768px){
    .white-block{
        padding: 60px calc((100% - var(--sm)) / 2);
    }
}
@media (min-width: 1024px){
    .white-block{
        @include flex(row, wrap, flex-start, flex-start);
        padding: 80px calc((100% - var(--md)) / 2);
        &__title{
            width: min-content;
            margin-right: 30px;
            font-size: 68px;
            line-height: 100px;
        }
        &__list{
            @include flex(column, wrap, flex-start, flex-start);
            column-gap: 15px;
            max-height: 335px;
            margin: 0;
        }
        &__item{
            width: 100%;
            max-width: 370px;
            margin-bottom: 15px;
            & + &{
                margin-top: 0px;
            }
        }
        &__photos{
            flex-basis: 100%;
            margin-top: 60px;
        }
    }
}
@media (min-width: 1200px){
    .white-block{
        padding: 120px calc((100% - var(--lg)) / 2);
        &__title{
            margin-right: 130px;
        }
        &__list{
            column-gap: 30px;
        }
        &__photos{
            margin-top: 80px;
        }
    }
}

.white-photos{
    display: grid;
    gap: 5px;
    grid-template-areas: "big big" "left right" "b-left b-right";
    &__one{
        display: block;
        &--big{
            grid-area: big;
        }
        &--left{
            grid-area: left;
        }
        &--right{
            grid-area: right;
        }
        &--bottom-left{
            grid-area: b-left;
        }
        &--bottom-right{
            grid-area: b-right;
        }
    }
}

@media (min-width: 768px){
    .white-photos{
        grid-template-areas: "left big big right" "b-left big big b-right";
    }
}
@media (min-width: 768px){
    .white-photos{
        gap: 10px;
    }
}
