@import "normalize";
@import "slick";
@import "slick-theme";
@import "fonts";
@import "vars";
@import "header";
@import "footer";
@import "head-info";
@import "main-block";
@import "btn";
@import "personal";
@import "form";
@import "typography";
@import "benefits";
@import "make";
@import "information";
@import "houses";
@import "map";
@import "photos";
@import "finish";
@import "white-block";
@import "choose";
@import "callback";
@import "one-block";
@import "breadcrumbs";
@import "walk";
@import "thanks";
@import "plan";
@import "modal";

body{
    font-family: $main-font;
    color: $text-color;
}
*{
    outline-color: #E9C878;
}
button{
    cursor: pointer;
}
picture{
    line-height: 0;
    img{
        width: 100%;
    }
}